<app-auth-header></app-auth-header>
<div class="login-wrapper">
  <!-- <img src="./assets/images/pc1.svg" alt="" class="pc1">
        <img src="./assets/images/pc2.svg" alt="" class="pc2"> -->
  <div class="login-sec">
    <img src="./assets/images/pc1.svg" alt="" class="pc1" />
    <img src="./assets/images/pc2.svg" alt="" class="pc2" />
    <div class="login-cont">
      <div class="login-area">
        <div class="login-area-pro common-gap-big">
          <div class="container">
            <div class="card-layout login-outr">
              <div class="login-hdr">
                <h2>Log in</h2>
                <p>Log in to continue</p>
              </div>
              <div class="login-form">
                <form class="form">
                  <div class="form-group">
                    <input type="email" placeholder="Enter your email" />
                  </div>

                  <div class="form-group">
                    <input type="password" placeholder="Password" />
                  </div>
                  <div class="forgot_pass">
                    <a routerLink="/forgot_password">Forgot Password?</a>
                  </div>
                  <div class="submit-inn">
                    <button type="submit" class="btn-big">Continue</button>
                  </div>
                </form>
                <div class="dvider">
                  <span>OR</span>
                </div>
                <a class="outlook" href="#">
                  <img src="./assets/images/outlook.svg" alt="" />
                  <span>Continue with Outlook</span>
                </a>
                <div class="cant-log">
                  <p>Can’t log in? • <a href="#">Create An Account</a></p>
                </div>
              </div>
              <div class="form-btm">
                <p>
                  This site is protected by reCAPTCHA and the Google
                  <a href="#">Privacy Policy</a> and
                  <a href="#">Terms of Service</a> apply.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
