/*======================================= Variables
===============================================================*/
// color
$blackColor: #000;
$whiteColor: #fff;
$primaryColor: #00BAFF;
$textColor: #383F49;
$titleColor: #092C38;
$darkTextColor: #0D062D;
$inputBorderColor: #787486;
$inputBorderColor1: #5B6D74;
$placeholderColor: #787486;
$midGreenColor: #76CC8E;
$bgColor: #F0F6F9;
$purpleColor: #8833FF;
$lightYellowColor: #FFF7E3;
$yellowColor: #FFD047;
$lightOrangeColor: #FFEBDA;
$orangeColor: #D97706;
$lightGreenColor: #DEF7E9;
$greenColor: #00B661;
$blueColor: #2563EB;
$errorColor:#FF846C;

// font-weight
$font-weights: ("regular": 400,
    "sami-bold": 500,
    "bold": 700,
    "extra-bold": 900);


/*======================================= Functions====================================
=======================================================================================*/
@function weight($weight-name) {
    @return map-get($map: $font-weights, $key: $weight-name);
}

// If you want bullet in li default is true
@mixin bullet($bullet: true) {
    @if $bullet {
        li {
            position: relative;
            padding-left: 15px;

            &::before {
                content: "";
                width: 7px;
                height: 7px;
                border-radius: 100%;
                position: absolute;
                left: 1px;
                top: 6px;
                background-color: $primaryColor;
                display: block;
            }
        }
    }

    @else {
        li {
            padding-left: 0;

            &::before {
                display: none;
            }
        }
    }
}

/* 
//this Mixing only for light theme and Dark theme concecpt
@mixin theme($light-theme: true) {
    @if $light-theme {
        background: lighten($whiteColor, 100%);
        color: darken($blackColor, 100%);
    }
 }
.light{
    @include theme(true);
}
*/
/*======================================= Mixing=======================================================
=======================================================================================================*/

// Clearfix

@mixin clearfix {
    &::after {
        content: '';
        display: table;
        clear: both;
    }

    *zoom: 1;
}

// Flex

@mixin flex {
    display: flex !important;
}

@mixin justify-content($flex-justify) {
    justify-content: $flex-justify !important;
}

@mixin align-items($flex-items) {
    align-items: $flex-items !important;
}

@mixin flex-wrap($flex-wrap) {
    flex-wrap: $flex-wrap !important;
}

@mixin flex-direction($flex-direction) {
    flex-direction: $flex-direction !important;
}

@mixin order($order) {
    order: $order !important;
}

@mixin align-content($align-content) {
    align-content: $align-content !important;
}

// Transition

@mixin transition($mileseconds) {
    transition: all ease-in-out $mileseconds;
}

// Transform

@mixin transform($transform...) {
    transform: $transform;
    -webkit-transform: $transform;
    -moz-transform: $transform;
    -ms-transform: $transform;
    -o-transform: $transform;
}

// Border Radius

@mixin radius($radius...) {
    border-radius: $radius;
    -webkit-border-radius: $radius;
    -moz-border-radius: $radius;
    -ms-border-radius: $radius;
    -o-border-radius: $radius;
}

// Vertical Center

@mixin vertical-center {
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50.1%);
    -ms-transform: translateY(-50.1%);
    transform: translateY(-50.1%);
}

// Font Weight

@mixin font-weight($weightValue) {
    font-weight: weight($weightValue);
}

// Appearance

@mixin appearance($appearance) {
    appearance: $appearance;
}

// Placeholder

@mixin placeholder {
    &::-webkit-input-placeholder {
        @content
    }

    ;

    &:-moz-placeholder {
        @content
    }

    ;

    &::-moz-placeholder {
        @content
    }

    ;

    &:-ms-input-placeholder {
        @content
    }

    ;
}

// Box Shadow

@mixin box-shadow($shadow) {
    box-shadow: $shadow;
}

// Box sizing

@mixin box-sizing {
    box-sizing: border-box;
}

// common btn

@mixin commonBtn {
    background-color: $primaryColor;
    border: 1px solid $primaryColor;
    color: $whiteColor !important;
    min-width: 151px;
    font-size: 1.3rem;
    text-transform: capitalize;
    outline: 0 !important;
    @include box-shadow(0px 8px 20px rgba($color: $primaryColor, $alpha: 0.11));
    @include transition(0.3s);
    @include radius(7px);
    text-align: center;
    padding: 0 20px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-weight: 500;
    min-height: 40px;
    color: #000;

    &:hover {
        background-color: $textColor;
        color: $whiteColor;
        border: 1px solid $textColor;
    }
}

@mixin commonBtnBig {
    @include commonBtn();
    font-size: 1.8rem;
    min-height: 54px;
}

.btn-big {
    @include commonBtnBig();
}

@mixin linkBtn {
    color: $primaryColor;
    text-decoration: underline;
    font-size: 1.3rem;
    background-color: transparent;
    border: none;
    font-weight: 500;

    @media (max-width: 767px) {
        font-size: 1.1rem;
    }

    &:hover {
        color: $blackColor;
        text-decoration: underline;
    }
}

/* common Style Start */

* {
    @include box-sizing;
}

img {
    max-width: 100%;
    display: inline-block;
    height: auto;
    vertical-align: middle;
}

a,
button,
input[type="submit"] {
    display: inline-block;
    vertical-align: middle;
    cursor: pointer;
    border: none;
}

a,
button,
input[type="submit"] {
    text-decoration: none;
    display: inline-flex;
    @include transition(0.3s);

    &:hover {
        text-decoration: none;
    }

    &:focus {
        text-decoration: none;
    }

    &:active {
        text-decoration: none;
    }
}

span,
strong,
small {
    vertical-align: middle;
    display: inline-block;
}

section,
main,
address,
aside,
figure,
figcaption {
    display: block;
}

strong,
label {
    @include font-weight(bold);
}

label {
    vertical-align: top;
}

figure {
    margin: 0;
}

p {
    margin: 0 0 20px 0;

    &:last-child {
        margin-bottom: 0;
    }
}

ol,
ul {
    padding: 0;
    list-style-type: none;
}

ul {
    @include bullet(false);
}

ul.bullet {
    @include bullet(true);
}

button,
input[type="button"],
input[type="submit"] {
    text-align: center;
    @include appearance(none);
    cursor: pointer;

    &:hover {
        outline: none;
        text-decoration: none;
    }

    &:focus {
        outline: none;
    }
}

.btn {
    outline: 0;
    text-decoration: none;
    @include commonBtn;
}

.btn-link {
    @include linkBtn();
}

.common-gap {
    padding-block: 30px;
}

.common-gap-big {
    padding-block: 60px;

    @media (max-width: 1199px) {
        padding-block: 40px;
    }

    @media (max-width: 991px) {
        padding-block: 40px;
    }
}

.text-uppercase {
    text-transform: uppercase;
}

.text-capitalize {
    text-transform: capitalize;
}

.text-lowercase {
    text-transform: lowercase;
}

.text-center {
    text-align: center;
}

.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}

@mixin purple_tag {
    background-color: rgba($color: $purpleColor, $alpha: 0.1);
    color: $purpleColor;

    &:hover {
        background: #f7f7f7;
    }
}

@mixin yellow_tag {
    background-color: $lightYellowColor;
    color: $yellowColor;

    &:hover {
        background: #f7f7f7;
    }
}

@mixin orange_tag {
    background-color: $lightOrangeColor;
    color: $orangeColor;

    &:hover {
        background: #f7f7f7;
    }
}

@mixin green_tag {
    background-color: $lightGreenColor;
    color: $greenColor;

    &:hover {
        background: #f7f7f7;
    }
}

@mixin blue_tag {
    background-color: rgba($color: $blueColor, $alpha: 0.1);
    color: $blueColor;

    &:hover {
        background: #f7f7f7;
    }
}

.p-30 {
    padding: 30px;
}

.p-20 {
    padding: 20px;
}

.p-15 {
    padding: 15px;
}

.p-10 {
    padding: 10px;
}

.m-60 {
    margin: 60px;
}

.m-50 {
    margin: 50px;
}

.m-40 {
    margin: 40px;
}

.m-30 {
    margin: 30px;
}

.m-20 {
    margin: 20px;
}

.m-15 {
    margin: 15px;
}

.m-10 {
    margin: 10px;
}

@mixin card {
    background-color: $whiteColor;
    @include radius(10px);
    @include box-shadow(0px 4px 11px rgba($color: $primaryColor, $alpha: 0.05));
}

.card-layout {
    @include card();
}

/* Common Style End */