<main>
  <div class="container">
    <div class="row">
      <div class="col-md-3 col-xs-12">
        <app-sidebar></app-sidebar>
      </div>
      <div class="col-md-9 col-xs-12">
        <div class="projectsectiontop">
          <div class="leftsection">
            <h2>My Resource List</h2>
          </div>
          <div class="right-section">
            <div class="search_icon">
              <form class="search-task">
                <input type="text" placeholder="Search Tasks" />
                <button class="close_icon">X</button>
              </form>
            </div>
          </div>
        </div>
        <div class="timesheet-btm">
            <div class="table-responsive1">
              <ng-scrollbar>
                <table class="aprove-table">
                  <thead>
                    <tr>
                      <th>Name</th>
                      <th>Phone</th>
                      <th>Email Address</th>
                      <th>Skype Id</th>
                      <th>Tech’s Tag</th>
                      <th></th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td><div class="resource_img"><img src="./assets/images/resource_img1.svg" alt="" /> Angela Smith</div></td>
                      <td>9185986648</td>
                      <td>angelasmith@gmail.com</td>
                      <td>live:.cid.angelasmith</td>
                      <td>HTML, CSS</td>
                      <td><button class="btn_dots"><img src="./assets/images/datedicon.svg" alt="" /></button></td>
                    </tr>
                    <tr>
                      <td><div class="resource_img"><img src="./assets/images/resource_img2.svg" alt="" /> Angela Smith</div></td>
                      <td>9185986648</td>
                      <td>angelasmith@gmail.com</td>
                      <td>live:.cid.angelasmith</td>
                      <td>HTML, CSS</td>
                      <td><button class="btn_dots"><img src="./assets/images/datedicon.svg" alt="" /></button></td>
                    </tr>
                    <tr>
                      <td><div class="resource_img"><img src="./assets/images/resource_img3.svg" alt="" /> Angela Smith</div></td>
                      <td>9185986648</td>
                      <td>angelasmith@gmail.com</td>
                      <td>live:.cid.angelasmith</td>
                      <td>HTML, CSS</td>
                      <td><button class="btn_dots"><img src="./assets/images/datedicon.svg" alt="" /></button></td>
                    </tr>
                    <tr>
                      <td><div class="resource_img"><img src="./assets/images/resource_img4.svg" alt="" /> Angela Smith</div></td>
                      <td>9185986648</td>
                      <td>angelasmith@gmail.com</td>
                      <td>live:.cid.angelasmith</td>
                      <td>HTML, CSS</td>
                      <td><button class="btn_dots"><img src="./assets/images/datedicon.svg" alt="" /></button></td>
                    </tr>
                    <tr>
                      <td><div class="resource_img"><img src="./assets/images/resource_img5.svg" alt="" /> Angela Smith</div></td>
                      <td>9185986648</td>
                      <td>angelasmith@gmail.com</td>
                      <td>live:.cid.angelasmith</td>
                      <td>HTML, CSS</td>
                      <td><button class="btn_dots"><img src="./assets/images/datedicon.svg" alt="" /></button></td>
                    </tr>
                    <tr>
                      <td><div class="resource_img"><img src="./assets/images/resource_img1.svg" alt="" /> Angela Smith</div></td>
                      <td>9185986648</td>
                      <td>angelasmith@gmail.com</td>
                      <td>live:.cid.angelasmith</td>
                      <td>HTML, CSS</td>
                      <td><button class="btn_dots"><img src="./assets/images/datedicon.svg" alt="" /></button></td>
                    </tr>
                    <tr>
                      <td><div class="resource_img"><img src="./assets/images/resource_img1.svg" alt="" /> Angela Smith</div></td>
                      <td>9185986648</td>
                      <td>angelasmith@gmail.com</td>
                      <td>live:.cid.angelasmith</td>
                      <td>HTML, CSS</td>
                      <td><button class="btn_dots"><img src="./assets/images/datedicon.svg" alt="" /></button></td>
                    </tr>
                    <tr>
                      <td><div class="resource_img"><img src="./assets/images/resource_img1.svg" alt="" /> Angela Smith</div></td>
                      <td>9185986648</td>
                      <td>angelasmith@gmail.com</td>
                      <td>live:.cid.angelasmith</td>
                      <td>HTML, CSS</td>
                      <td><button class="btn_dots"><img src="./assets/images/datedicon.svg" alt="" /></button></td>
                    </tr>
                    <tr>
                      <td><div class="resource_img"><img src="./assets/images/resource_img1.svg" alt="" /> Angela Smith</div></td>
                      <td>9185986648</td>
                      <td>angelasmith@gmail.com</td>
                      <td>live:.cid.angelasmith</td>
                      <td>HTML, CSS</td>
                      <td><button class="btn_dots"><img src="./assets/images/datedicon.svg" alt="" /></button></td>
                    </tr>
                    <tr>
                      <td><div class="resource_img"><img src="./assets/images/resource_img1.svg" alt="" /> Angela Smith</div></td>
                      <td>9185986648</td>
                      <td>angelasmith@gmail.com</td>
                      <td>live:.cid.angelasmith</td>
                      <td>HTML, CSS</td>
                      <td><button class="btn_dots"><img src="./assets/images/datedicon.svg" alt="" /></button></td>
                    </tr>
                    <tr>
                      <td><div class="resource_img"><img src="./assets/images/resource_img1.svg" alt="" /> Angela Smith</div></td>
                      <td>9185986648</td>
                      <td>angelasmith@gmail.com</td>
                      <td>live:.cid.angelasmith</td>
                      <td>HTML, CSS</td>
                      <td><button class="btn_dots"><img src="./assets/images/datedicon.svg" alt="" /></button></td>
                    </tr>
                    <tr>
                      <td><div class="resource_img"><img src="./assets/images/resource_img1.svg" alt="" /> Angela Smith</div></td>
                      <td>9185986648</td>
                      <td>angelasmith@gmail.com</td>
                      <td>live:.cid.angelasmith</td>
                      <td>HTML, CSS</td>
                      <td><button class="btn_dots"><img src="./assets/images/datedicon.svg" alt="" /></button></td>
                    </tr>
                    <tr>
                      <td><div class="resource_img"><img src="./assets/images/resource_img1.svg" alt="" /> Angela Smith</div></td>
                      <td>9185986648</td>
                      <td>angelasmith@gmail.com</td>
                      <td>live:.cid.angelasmith</td>
                      <td>HTML, CSS</td>
                      <td><button class="btn_dots"><img src="./assets/images/datedicon.svg" alt="" /></button></td>
                    </tr>
                    <tr>
                      <td><div class="resource_img"><img src="./assets/images/resource_img1.svg" alt="" /> Angela Smith</div></td>
                      <td>9185986648</td>
                      <td>angelasmith@gmail.com</td>
                      <td>live:.cid.angelasmith</td>
                      <td>HTML, CSS</td>
                      <td><button class="btn_dots"><img src="./assets/images/datedicon.svg" alt="" /></button></td>
                    </tr>
                    <tr>
                      <td><div class="resource_img"><img src="./assets/images/resource_img1.svg" alt="" /> Angela Smith</div></td>
                      <td>9185986648</td>
                      <td>angelasmith@gmail.com</td>
                      <td>live:.cid.angelasmith</td>
                      <td>HTML, CSS</td>
                      <td><button class="btn_dots"><img src="./assets/images/datedicon.svg" alt="" /></button></td>
                    </tr>
                    <tr>
                      <td><div class="resource_img"><img src="./assets/images/resource_img1.svg" alt="" /> Angela Smith</div></td>
                      <td>9185986648</td>
                      <td>angelasmith@gmail.com</td>
                      <td>live:.cid.angelasmith</td>
                      <td>HTML, CSS</td>
                      <td><button class="btn_dots"><img src="./assets/images/datedicon.svg" alt="" /></button></td>
                    </tr>
                  </tbody>
                </table>
              </ng-scrollbar>
            </div>
          </div>
      </div>
    </div>
  </div>
</main>
