<ng-container *ngIf="data?.type === 'openModal'">
  <div class="dummymodal">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde quam doloremque ipsa ipsum ab aut mollitia iure quo
    quas id dolore magnam vitae, alias consectetur cum ea pariatur maiores laudantium?
  </div>
</ng-container>

<ng-container *ngIf="data?.type === 'addnewresource'">
  <div class="addnewresourcemodal">
    <div class="addtaskmodal-head">
      <div class="modal-head-lft">
        <h2>Add Resource</h2>
        <button type="button" [mat-dialog-close]>
          <mat-icon>close</mat-icon>
        </button>
      </div>

      <div class="modal-head-rgt">
        <div class="addresourcecontain">
          <label>Full Name<span>*</span></label>
          <input type="text" class="inputname" />
        </div>
        <div class="addresourcecontain">
          <label>Email Address<span>*</span></label>
          <input type="text" class="inputname" />
        </div>
        <div class="addresourcecontain">
          <div class="row">
            <div class="col-sm-6">
              <label>Employee Code<span>*</span></label>
              <input type="text" class="inputname" placeholder="Type" />
            </div>
            <div class="col-sm-6">
              <label>Skype ID<span>*</span></label>
              <input type="text" class="inputname" placeholder="Type" />
            </div>
          </div>

        </div>
        <div class="addresourcecontain">
          <div class="row">
            <div class="col-sm-6">
              <label>Designation<span>*</span></label>
              <input type="text" class="inputname" placeholder="Type" />
            </div>
            <div class="col-sm-6">
              <label>Phone Number<span>*</span></label>
              <input type="text" class="inputname" placeholder="Type" />
            </div>
          </div>

        </div>
        <div class="save-button">
          <button class="savebuttonone">Save</button>
          <button class="cancelbutton">Cancel</button>
        </div>
      </div>
    </div>

  </div>

</ng-container>

<ng-container *ngIf="data?.type === 'addproject'">
  <div class="addnewresourcemodal">
    <div class="closebar">
      <button type="button" [mat-dialog-close]>
        <mat-icon>close</mat-icon>
      </button>
    </div>

    <div class="addtaskmodal-head">
      <div class="modal-head-lft modal_headbar">
        <h2>Add Project</h2>
        <h3>Today 20/04/2023</h3>
      </div>

      <div class="modal-head-rgt">

        <div class="scroll_box">
          <div class="addresourcecontain">
            <label>Project Name<span>*</span></label>
            <input type="text" class="inputname" />
          </div>
          <div class="addresourcecontain">
            <div class="row">
              <div class="col-sm-6">
                <label>Project Category<span>*</span></label>
                <select class="select_box">
                  <option>Select</option>
                  <option>Fixed Cost</option>
                  <option>Flexi</option>
                  <option>Dedicated</option>
                </select>
                <!-- <input type="text" class="inputname" placeholder="Type" /> -->
              </div>
              <div class="col-sm-6">
                <label>Client Name<span>*</span></label>
                <input type="text" class="inputname" placeholder="Name / Email" />
              </div>
            </div>
          </div>
          <div class="addresourcecontain">
            <div class="row">
              <div class="col-sm-6">
                <label>Business Type<span>*</span></label>
                <select class="select_box">
                  <option>Select</option>
                  <option>NCNB</option>
                  <option>ECEB</option>
                  <option>ECNB</option>
                </select>
                <!-- <input type="text" class="inputname" placeholder="Type" /> -->
              </div>
              <div class="col-sm-6">
                <label>BDM<span>*</span></label>
                <input type="text" class="inputname" placeholder="Type" />
              </div>
            </div>

          </div>
          <div class="addresourcecontain">
            <div class="row">
              <div class="col-sm-6">
                <label>Project Hours<span>*</span></label>
                <input type="text" class="inputname" placeholder="Add" />
              </div>
              <div class="col-sm-6">
                <label>CSM/Delivery Manager<span>*</span></label>
                <input type="text" class="inputname" placeholder="Name / Email" />
              </div>
            </div>

          </div>
          <div class="addresourcecontain">
            <div class="row">
              <div class="col-sm-6">
                <label>Project vertical<span>*</span></label>
                <div class="custom_radio_bar">
                  <input type="radio" />
                  <p>Custom</p> <input type="radio" />
                  <p>CMS</p>
                </div>
              </div>
              <div class="col-sm-6">
                <label>Project Status<span>*</span></label>
                <button class="inactiveone">Inactive</button>
              </div>
            </div>

          </div>
        </div>

        <div class="save-button">
          <button class="savebuttonone">Save</button>
          <button class="cancelbutton">Cancel</button>
        </div>
      </div>
    </div>

  </div>

</ng-container>

<ng-container *ngIf="data?.type === 'createsprint'">
  <div class="addnewresourcemodal">
    <div class="closebar">
      <button type="button" [mat-dialog-close]>
        <mat-icon>close</mat-icon>
      </button>
    </div>

    <div class="addtaskmodal-head">
      <div class="modal-head-lft modal_headbar">
        <div class="modal_headbar_left">
          <h2>Create Sprint</h2>
          <p>Donec porttitor iaculis risus at egestas.</p>
        </div>
        <div class="modal_headbar_right">
          <h3>Today 20/04/2023</h3>
        </div>
      </div>

      <div class="modal-head-rgt">

        <div class="scroll_box">
          <div class="addresourcecontain">
            <label>Sprint name<span>*</span></label>
            <input type="text" class="inputname" />
          </div>
          <div class="addresourcecontain">
            <div class="row">
              <div class="col-sm-12">
                <label>Duration<span>*</span></label>
                <select class="select_box">
                  <option>Select</option>
                  <option>Fixed Cost</option>
                  <option>Flexi</option>
                  <option>Dedicated</option>
                </select>
                <!-- <input type="text" class="inputname" placeholder="Type" /> -->
              </div>
            </div>
          </div>
          <div class="addresourcecontain">
            <div class="row">
              <div class="col-sm-6">
                <label>Start date<span>*</span></label>
                <input type="date" class="inputname" />
              </div>
              <div class="col-sm-6">
                <label>End date<span>*</span></label>
                <input type="date" class="inputname" />
              </div>
            </div>

          </div>

          <div class="addresourcecontain">
            <div class="row">
              <div class="col-sm-12">
                <label>Project Priority<span>*</span></label>
                <div class="custom_radio_bar">
                  <input type="radio" />
                  <p>Highest</p> <input type="radio" />
                  <p>Medium</p> <input type="radio" />
                  <p>Low</p>
                </div>
              </div>
              <div class="col-sm-12 textarea_box">
                <label>Sprint goal<span>*</span></label>
                <textarea placeholder=""></textarea>
              </div>
            </div>

          </div>
        </div>

        <div class="save-button">
          <button class="savebuttonone">Save</button>
          <button class="cancelbutton">Cancel</button>
        </div>
      </div>
    </div>

  </div>

</ng-container>

<ng-container *ngIf="data?.type === 'assigntask'">
  <div class="addnewresourcemodal">
    <div class="closebar">
      <button type="button" [mat-dialog-close]>
        <mat-icon>close</mat-icon>
      </button>
    </div>

    <div class="addtaskmodal-head">
      <div class="modal-head-lft modal_headbar">
        <div class="modal_headbar_left">
          <h2>Assign Task</h2>
        </div>
      </div>

      <div class="modal-head-rgt">


        <div class="addresourcecontain">
          <label>Assign Developer<span>*</span></label>
          <input type="text" class="inputname" placeholder="Name / Email" />
        </div>
        <div class="addresourcecontain">
          <div class="row">
            <div class="col-sm-12">
              <label>Assign QA<span>*</span></label>
              <input type="text" class="inputname" placeholder="Name / Email" />
            </div>
          </div>
        </div>


        <div class="save-button">
          <button class="savebuttonone">Save</button>
          <button class="cancelbutton">Cancel</button>
        </div>
      </div>
    </div>

  </div>
</ng-container>

<ng-container *ngIf="data?.type === 'sprint-details'">
  <div class="addnewresourcemodal1">

    <div class="add_epic">
      <div class="add_epic_left">
        <ul>
          <li> <img src="../../../assets/images/edit.svg" alt="" /> Add Epic</li>
          <li>/</li>
          <li> <img src="../../../assets/images/dpo_icon.svg" alt="" /> DP0-3</li>
        </ul>
      </div>
      <div class="add_epic_right">
        <ul>
          <li><img src="../../../assets/images/lock.svg" alt="" /></li>
          <li><img src="../../../assets/images/view.svg" alt="" /><span>1</span></li>
          <li><img src="../../../assets/images/share1.svg" alt="" /></li>
          <li><img src="../../../assets/images/datedicon.svg" alt="" /></li>
          <li>
            <div class="closebar">
              <button type="button" [mat-dialog-close]>
                <mat-icon>close</mat-icon>
              </button>
            </div>
          </li>
        </ul>

      </div>
    </div>

    <div class="row">
      <div class="col-md-7">
        <div class="custom_scroll_bar">
          <ng-scrollbar>
            <div class="left_modal_cont_box">
              <h2>Dev Pro 01 - Lorem ipsum dolor sit amet</h2>
              <h3>Donec porttitor iaculis risus at egestas.</h3>
              <ul>
                <li>
                  <button><img src="../../../assets/images/attached.svg" alt="" /> Attach</button>
                </li>
                <li>
                  <button (click)="addChildtask()"><img src="../../../assets/images/add_group.svg" alt="" /> Add a child Task</button>
                </li>
                <li>
                  <button><img src="../../../assets/images/datedicon.svg" alt="" /></button>
                </li>
              </ul>
              <div class="description_box">
                <h2>Description</h2>
                <p>Add a description...</p>
              </div>
              <div class="url_box">
                <label>url</label>
                <input type="text" placeholder="None" />
              </div>
              <div class="activity_part">
                <h2>Activity</h2>
                <div class="show_part">
                  <div class="show_part_left">
                    <ul>
                      <li>Show:</li>
                      <li><button>All</button></li>
                      <li><button>Comments</button></li>
                      <li><button>History</button></li>
                    </ul>
                  </div>
                  <div class="show_part_right">
                    <ul>
                      <li><button><img src="../../../assets/images/nearest_icon.svg" alt="" /> Newest first</button>
                      </li>
                    </ul>
                  </div>
                </div>
                <div class="comment_part_box_sec">
                  <div class="comment_part_sec">
                    <div class="comment_left_part">
                      <img src="../../../assets/images/user.svg" alt="" />
                    </div>
                    <div class="comment_right_part">
                      <input type="text" placeholder="None" />
                      <p><strong>Pro tip:</strong> press <strong>M</strong> to comment</p>
                    </div>
                  </div>
                  <div class="comment_part_sec">
                    <div class="comment_left_part">
                      <img src="../../../assets/images/user.svg" alt="" />
                    </div>
                    <div class="comment_right_part">
                      <h2>Karen William <span>last week</span></h2>
                      <p>Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.</p>
                      <ul>
                        <li><button>Edit</button> </li>
                        <li> . </li>
                        <li><button>Delete</button> </li>
                        <li> . </li>
                        <li><button><img src="../../../assets/images/smile_plus.svg" alt="" /></button></li>
                      </ul>
                    </div>
                  </div>
                  <div class="comment_part_sec">
                    <div class="comment_left_part">
                      <img src="../../../assets/images/user.svg" alt="" />
                    </div>
                    <div class="comment_right_part">
                      <h2>Karen William <span>last week</span></h2>
                      <p>Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.</p>
                      <ul>
                        <li>Edit </li>
                        <li> . </li>
                        <li>Delete </li>
                        <li> . </li>
                        <li><img src="../../../assets/images/smile_plus.svg" alt="" /></li>
                      </ul>
                    </div>
                  </div>
                </div>

              </div>
            </div>
          </ng-scrollbar>
        </div>


      </div>
      <div class="col-md-5">
          <div class="inactive_box">
            <select>
              <option>Inactive</option>
              <option>Active</option>
            </select>
          </div>
          <div class="details_accordian">
            <mat-accordion>
              
              <mat-expansion-panel (opened)="panelOpenState = true"
                                   (closed)="panelOpenState = false" [expanded]="true">
                <mat-expansion-panel-header >
                  <mat-panel-title>
                    Details
                  </mat-panel-title>
                </mat-expansion-panel-header >
                <div class="details_cont">
                  <ul>
                    <li>
                      <div class="cont_left">
                        <p>Assignee</p>
                      </div>
                      <div class="cont_right">
                        <div class="cont_right_box">
                          <div class="user_list">
                            <img src="../../../assets/images/details_user.svg" alt="" />
                            <span>Karen William</span>
                          </div>
                          <div class="user_list">
                            <img src="../../../assets/images/details_user1.svg" alt="" />
                            <span>Angela Smith</span>
                          </div>
                        </div>
                        <div class="cont_right_box">
                          <div class="user_list">
                            <img src="../../../assets/images/details_user2.svg" alt="" />
                            <span>Karen William</span>
                          </div>
                          <div class="user_list">
                            <img src="../../../assets/images/details_user3.svg" alt="" />
                            <span>Angela Smith</span>
                          </div>
                        </div>
                      </div>
                    </li>
                    <li>
                      <div class="cont_left">
                        <p>Labels</p>
                      </div>
                      <div class="cont_right">
                        <p>None</p>
                      </div>
                    </li>
                    <li>
                      <div class="cont_left">
                        <p>Sprint</p>
                      </div>
                      <div class="cont_right">
                        <p><a href="#">DPO Sprint1</a> </p>
                      </div>
                    </li>
                    <li>
                      <div class="cont_left">
                        <p>Story point estimate</p>
                      </div>
                      <div class="cont_right">
                        <p>None</p>
                      </div>
                    </li>
                    <li>
                      <div class="cont_left">
                        <p>Assign Hours</p>
                      </div>
                      <div class="cont_right">
                        <p>None</p>
                      </div>
                    </li>
                    <li>
                      <div class="cont_left">
                        <p>Reporter</p>
                      </div>
                      <div class="cont_right">
                        <div class="user_list">
                          <img src="../../../assets/images/details_user.svg" alt="" />
                          <span>Karen William</span>
                        </div>
                      </div>
                    </li>
                  </ul>
                </div>
              </mat-expansion-panel>
            </mat-accordion>
          </div>
          
          <div class="created_box">
            <div class="created_left_box">
              <p>Created last week<br>
                Updated 2 days ago</p>
            </div>
            <div class="created_right_box"><img src="../../../assets/images/setting.svg" alt="" /> Configure</div>
          </div>





      </div>
    </div>


    <!-- <button (click)="addChildtask()" [mat-dialog-close]>Add Child Task</button> -->

  </div>

</ng-container>


<ng-container *ngIf="data?.type === 'createchildtask'">
  <div class="addnewresourcemodal">
    <div class="closebar">
      <button type="button" [mat-dialog-close]>
        <mat-icon>close</mat-icon>
      </button>
    </div>

    <div class="addtaskmodal-head">
      <div class="modal-head-lft modal_headbar">
        <div class="modal_headbar_left">
          <h2>Add Child Task</h2>
          <p>Donec porttitor iaculis risus at egestas.</p>
        </div>
        <div class="modal_headbar_right">
          <h3>Today 20/04/2023</h3>
        </div>
      </div>

      <div class="modal-head-rgt">

        <div class="scroll_box">
          <div class="addresourcecontain">
            <div class="row">
              <div class="col-sm-6">
                <label>Task name<span>*</span></label>
                <input type="text" class="inputname" placeholder="Task 1" />
              </div>
              <div class="col-sm-6">
                <label>Task Hours<span>*</span></label>
                <input type="text" class="inputname" placeholder="Add" />
              </div>
            </div>
          </div>
          <div class="addresourcecontain">
            <div class="row">
              <div class="col-sm-12 textarea_box">
                <label>Task name<span>*</span></label>
                <textarea placeholder=""></textarea>
              </div>
            </div>
          </div>
          <div class="addresourcecontain">
            <div class="row">
              <div class="col-sm-6">
                <label>Assign developers<span>*</span></label>
                <input type="text" class="inputname" placeholder="Name / Email" />
              </div>
              <div class="col-sm-6">
                <label>Assing QA<span>*</span></label>
                <input type="text" class="inputname" placeholder="Name / Email" />
              </div>
            </div>

          </div>

          <div class="addresourcecontain">
            <div class="row">
              <div class="col-sm-12 textarea_box">
                <label>Add Comments<span>*</span></label>
                <textarea placeholder=""></textarea>
              </div>
            </div>

          </div>
        </div>

        <div class="save-button">
          <button class="savebuttonone">Save</button>
          <button class="cancelbutton">Cancel</button>
        </div>
      </div>
    </div>

  </div>
</ng-container>


<ng-container *ngIf="data?.type === 'Non-Project-Task'">
  <div class="addnewresourcemodal">
    <div class="closebar">
      <button type="button" [mat-dialog-close]>
        <mat-icon>close</mat-icon>
      </button>
    </div>

    <div class="addtaskmodal-head">
      <div class="modal-head-lft modal_headbar">
        <div class="modal_headbar_left">
          <h2>Add Non-Project Task</h2>
        </div>
      </div>
      <div class="modal-head-rgt">
        <div class="addresourcecontain">
          <div class="row">
            <div class="col-sm-12">
              <label>Task Type<span>*</span></label>
              <select class="select_box">
                <option>Add</option>
                <option>Project discussion call</option>
                <option>Client Call</option>
                <option>Documentation</option>
                <option>KT</option>
                <option>Process work</option>
                <option>Management meeting</option>
                <option>Idle</option>
                <option>Training/Event</option>
              </select>
            </div>
          </div>
        </div>
        <div class="addresourcecontain">
          <div class="row">
            <div class="col-sm-6">
              <label>Task Details<span>*</span></label>
              <input type="text" class="inputname" placeholder="Add" />
            </div>
            <div class="col-sm-6">
              <label>Task Hours<span>*</span></label>
              <input type="text" class="inputname" placeholder="Add" />
            </div>
          </div>
        </div>
        <div class="save-button">
          <button class="savebuttonone">Save</button>
          <button class="cancelbutton">Cancel</button>
        </div>
      </div>
    </div>
  </div>
</ng-container>


<ng-container *ngIf="data?.type === 'Approve-Timesheet'">
  <div class="addnewresourcemodal">
    <div class="closebar">
      <button type="button" [mat-dialog-close]>
        <mat-icon>close</mat-icon>
      </button>
    </div>

    <div class="addtaskmodal-head">
      <div class="modal-head-lft modal_headbar">
        <div class="modal_headbar_left1">
          <h2>Karen William<span>WS04585</span></h2>
        </div>
        <div class="modal_headbar_right">
          <h3>Today 20/04/2023</h3>
        </div>
      </div>
      <div class="modal-head-rgt">
        <div class="addresourcecontain">
          <div class="table-responsive">
            <ng-scrollbar>
              <table class="task_table">
                <thead>
                  <tr>
                    <th>Task Name</th>
                    <th>Log Hours</th>
                    <th>Approve Hours</th>
                    <th></th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>Lorem ipsum dolor sit amet</td>
                    <td>8 Hours</td>
                    <td><input type="text" placeholder="8" /> Hours</td>
                    <td><input type="checkbox" class="custom_checkbox" /></td>
                  </tr>
                  <tr>
                    <td>Lorem ipsum dolor sit amet</td>
                    <td>8 Hours</td>
                    <td><input type="text" placeholder="8" /> Hours</td>
                    <td><input type="checkbox" class="custom_checkbox" /></td>
                  </tr>
                  <tr>
                    <td>Lorem ipsum dolor sit amet</td>
                    <td>8 Hours</td>
                    <td><input type="text" placeholder="8" /> Hours</td>
                    <td><input type="checkbox" class="custom_checkbox" /></td>
                  </tr>
                  <tr>
                    <td>Lorem ipsum dolor sit amet</td>
                    <td>8 Hours</td>
                    <td><input type="text" placeholder="8" /> Hours</td>
                    <td><input type="checkbox" class="custom_checkbox" /></td>
                  </tr>
                  <tr>
                    <td>Lorem ipsum dolor sit amet</td>
                    <td>8 Hours</td>
                    <td><input type="text" placeholder="8" /> Hours</td>
                    <td><input type="checkbox" class="custom_checkbox" /></td>
                  </tr>
                  <tr>
                    <td>Lorem ipsum dolor sit amet</td>
                    <td>8 Hours</td>
                    <td><input type="text" placeholder="8" /> Hours</td>
                    <td><input type="checkbox" class="custom_checkbox" /></td>
                  </tr>
                  <tr>
                    <td>Lorem ipsum dolor sit amet</td>
                    <td>8 Hours</td>
                    <td><input type="text" placeholder="8" /> Hours</td>
                    <td><input type="checkbox" class="custom_checkbox" /></td>
                  </tr>
                </tbody>
              </table>
            </ng-scrollbar>
          </div>
        </div>
        <div class="save-button">
          <button class="savebuttonone">Approve</button>
          <button class="cancelbutton">Cancel</button>
        </div>
      </div>
    </div>
  </div>
</ng-container>
