<div class="login-wrapper">
  <!-- <img src="./assets/images/pc1.svg" alt="" class="pc1">
          <img src="./assets/images/pc2.svg" alt="" class="pc2"> -->
  <div class="login-sec">
    <img src="./assets/images/pc1.svg" alt="" class="pc1" />
    <img src="./assets/images/pc2.svg" alt="" class="pc2" />
    <div class="login-cont">
      <div class="login-area">
        <div class="login-area-pro common-gap-big">
          <div class="container">
            <div class="row">
              <div class="col-md-6">
                <div class="register_cont">
                  <h2>Lorem ipsum dolor amet adipiscing elit.</h2>
                  <h3>Vivamus metus ipsum, lacinia lacinia arcu vitae</h3>
                  <h4>INCLUDED IN YOUR FREE PLAN:</h4>
                  <ul>
                    <li>10 user licenses</li>
                    <li>Workflows and automation</li>
                    <li>Out-of-the-box roadmaps</li>
                    <li>Integrations with thousands of other tools</li>
                  </ul>
                </div>
              </div>
              <div class="col-md-6">
                <div class="card-layout login-outr register_area">
                  <div class="login-hdr">
                    <h2>Get started</h2>
                    <p>Free for up to 10 users</p>
                  </div>
                  <div class="login-form">
                    <form class="form">
                      <div class="form-group">
                        <label>Your email Address</label>
                        <input type="email" />
                      </div>
                      <div class="form-group">
                        <label>Full name</label>
                        <input type="text" />
                      </div>
                      <p class="agree_text">By clicking below, you agree to the Atlassian <a routerLink="#">Cloud Terms of Service</a> and <a routerLink="#">Privacy Policy</a>.</p>
    
                      <div class="submit-inn">
                        <button type="submit" class="btn-big">Agree</button>
                      </div>
                      <span class="required_text">NO CREDIT CARD REQUIRED</span>
                    </form>
                    <div class="dvider">
                      <span>OR</span>
                    </div>
                    <a class="outlook" href="#">
                      <img src="./assets/images/outlook.svg" alt="" />
                      <span>Continue with Outlook</span>
                    </a>
                    <!-- <div class="cant-log">
                      <p>Can’t log in? • <a href="#">Create An Account</a></p>
                    </div> -->
                  </div>
                  <div class="form-btm">
                    <p>
                      This site is protected by reCAPTCHA and the Google
                      <a href="#">Privacy Policy</a> and
                      <a href="#">Terms of Service</a> apply.
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
