<div class="login-wrapper">
  <div class="login-sec">
    <img src="./assets/images/pc1.svg" alt="" class="pc1" />
    <img src="./assets/images/pc2.svg" alt="" class="pc2" />
    <div class="login-cont">
      <div class="login-area">
        <div class="login-area-pro common-gap-big">
          <div class="container">
            <div class="row">
              <div class="col-md-6">
                <div class="register_cont">
                  <h2>Lorem ipsum dolor amet adipiscing elit.</h2>
                  <h3>Vivamus metus ipsum, lacinia lacinia arcu vitae</h3>
                  <h4>INCLUDED IN YOUR FREE PLAN:</h4>
                  <ul>
                    <li>10 user licenses</li>
                    <li>Workflows and automation</li>
                    <li>Out-of-the-box roadmaps</li>
                    <li>Integrations with thousands of other tools</li>
                  </ul>
                </div>
              </div>
              <div class="col-md-6">
                <div class="card-layout login-outr register_area">
                  <div class="login-hdr">
                    <h2>Get started</h2>
                    <p>Free for up to 10 users</p>
                  </div>
                  <div class="login-form">
                    <form
                      class="form"
                      #userForm="ngForm"
                      (ngSubmit)="onSubmit(userForm)"
                    >
                      <div class="form-group">
                        <label>Your email Address</label>
                        <input
                          type="email"
                          name="email"
                          ngModel
                          required
                          class="form-control"
                        />
                        <div
                          *ngIf="
                            userForm.controls.email?.invalid &&
                            userForm.controls.email?.touched
                          "
                          class="error"
                        >
                          Email is required and should be valid.
                        </div>
                      </div>

                      <div class="form-group">
                        <label>Full name</label>
                        <input
                          type="text"
                          name="first_name"
                          ngModel
                          required
                          class="form-control"
                        />
                        <div
                          *ngIf="
                            userForm.controls.first_name?.invalid &&
                            userForm.controls.first_name?.touched
                          "
                          class="error"
                        >
                          First name is required.
                        </div>
                      </div>

                      <div class="form-group">
                        <label>Last name</label>
                        <input
                          type="text"
                          name="last_name"
                          ngModel
                          required
                          class="form-control"
                        />
                        <div
                          *ngIf="
                            userForm.controls.last_name?.invalid &&
                            userForm.controls.last_name?.touched
                          "
                          class="error"
                        >
                          Last name is required.
                        </div>
                      </div>

                      <div class="form-group">
                        <label>Company Name</label>
                        <input
                          type="text"
                          name="companyName"
                          ngModel
                          required
                          class="form-control"
                        />
                        <div
                          *ngIf="
                            userForm.controls.companyName?.invalid &&
                            userForm.controls.companyName?.touched
                          "
                          class="error"
                        >
                          Company name is required.
                        </div>
                      </div>

                      <div class="form-group">
                        <label>Password</label>
                        <input
                          type="password"
                          name="password"
                          ngModel
                          required
                          class="form-control"
                        />
                        <div
                          *ngIf="
                            userForm.controls.password?.invalid &&
                            userForm.controls.password?.touched
                          "
                          class="error"
                        >
                          Password is required.
                        </div>
                      </div>

                      <div class="form-group">
                        <label>Upload File (Optional)</label>
                        <input
                          type="file"
                          (change)="onFileChange($event)"
                          class="form-control"
                        />
                      </div>

                      <button
                        type="submit"
                        class="btn-big"
                        [disabled]="userForm.invalid"
                      >
                        Submit
                      </button>
                    </form>
                    <div class="dvider">
                      <span>OR</span>
                    </div>
                    <a class="outlook" href="#">
                      <img src="./assets/images/outlook.svg" alt="" />
                      <span>Continue with Outlook</span>
                    </a>
                  </div>
                  <div class="form-btm">
                    <p>
                      This site is protected by reCAPTCHA and the Google
                      <a href="#">Privacy Policy</a> and
                      <a href="#">Terms of Service</a> apply.
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
