<main>
<div class="container">
  <div class="row">
    <div class="col-md-3 col-xs-12">
      <!--  -->
      <app-sidebar></app-sidebar>
      <!--  -->
    </div>
    <div class="col-md-9 col-xs-12">
      <div class="projectsectiontop">
        <div class="leftsection">
          <h3>Projects / Dev pro 01</h3>
          <h2>Roadmap</h2>
        </div>
        <div class="right-section">
          <button class="feed_btn">
            <img src="../../../assets/images/give_icon.svg" /> Give feedback
          </button>
          <button class="feed_btn">
            <img src="../../../assets/images/share.svg" /> Share
          </button>
          <button class="feed_btn">
            <img src="../../../assets/images/export.svg" /> Export
          </button>
          <button><img src="../../../assets/images/datedicon.svg" /></button>
        </div>
      </div>
      <div class="search_bar_box_bar">
        <div class="row">
          <div class="col-md-9 col-xs-12">
            <div class="search_bar_box_sec">
              <div class="search_bar_box">
                <button>
                  <mat-icon>search</mat-icon>
                </button>
                <form class="search-task" [formGroup]="addForm">
                  <input type="text" placeholder="Search" (keyup)="removeX($event)" formControlName="search"/>
                  <ng-container *ngIf="removeX1">
                    <button class="close_icon" (click)="removeText()">X</button>
                  </ng-container>
                </form>
              </div>
              <div class="people_list">
                <ul>
                  <li>
                    <img src="../../../assets/images/person1.svg" alt="" />
                  </li>
                  <li>
                    <img src="../../../assets/images/person2.svg" alt="" />
                  </li>
                  <li>
                    <img
                      src="../../../assets/images/round_plus_icon.svg"
                      alt=""
                    />
                  </li>
                </ul>
              </div>
              <div class="select_bar">
                <select>
                  <option>Status category</option>
                  <option>Status category</option>
                  <option>Status category</option>
                </select>
                <select>
                  <option>Epic</option>
                  <option>Epic</option>
                  <option>Epic</option>
                </select>
              </div>
            </div>
          </div>
          <div class="col-md-3 col-xs-12">
            <div class="right_select_bar">
              <button>
                <img src="../../../assets/images/view_setting.svg" alt="" />
                View settings
              </button>
            </div>
          </div>
        </div>
      </div>
      <div class="project_scroll_box">
        <div class="project_topic_bar_sec">
          <ul class="month_list">
            <li>
              <p>Month and Year</p>
              <span>Sprints</span>
              <div class="accordian_box_sec">
                <mat-accordion>
                  <mat-expansion-panel
                    (opened)="panelOpenState = true"
                    (closed)="panelOpenState = false"
                  >
                    <mat-expansion-panel-header>
                      <mat-panel-description>
                        <div class="accordian_box">
                          <img
                            src="../../../assets/images/round_bag.svg"
                            alt=""
                          />
                          <p>Develop Chat Application</p>
                        </div>
                      </mat-panel-description>
                    </mat-expansion-panel-header>
                    <div class="accordian_details_cont">
                      <ul class="number_list">
                        <li>
                          <span class="yellow">1</span>
                          <p>Proin at pulvinar risus</p>
                        </li>
                        <li>
                          <span class="green">2</span>
                          <p>Class aptent taciti sociosqu</p>
                        </li>
                        <li>
                          <span class="purple">3</span>
                          <p>Proin at pulvinar risus</p>
                        </li>
                        <li>
                          <span class="sky">4</span>
                          <p>Class aptent taciti sociosqu</p>
                        </li>
                        <li>
                          <span class="red">5</span>
                          <p>Nunc viverra semper auctor</p>
                        </li>
                        <li>
                          <span class="blue">6</span>
                          <p>Nunc viverra semper auctor</p>
                        </li>
                      </ul>
                    </div>
                  </mat-expansion-panel>
                  <mat-expansion-panel
                    (opened)="panelOpenState = true"
                    (closed)="panelOpenState = false"
                    [expanded]="true"
                  >
                    <mat-expansion-panel-header>
                      <mat-panel-description>
                        <div class="accordian_box">
                          <img
                            src="../../../assets/images/round_bag.svg"
                            alt=""
                          />
                          <p>City Advertising Campaign</p>
                        </div>
                      </mat-panel-description>
                    </mat-expansion-panel-header>
                    <div class="accordian_details_cont">
                      <ul class="number_list">
                        <li>
                          <span class="yellow">1</span>
                          <p>Proin at pulvinar risus</p>
                        </li>
                        <li>
                          <span class="green">2</span>
                          <p>Class aptent taciti sociosqu</p>
                        </li>
                        <li>
                          <span class="purple">3</span>
                          <p>Proin at pulvinar risus</p>
                        </li>
                        <li>
                          <span class="sky">4</span>
                          <p>Class aptent taciti sociosqu</p>
                        </li>
                        <li>
                          <span class="red">5</span>
                          <p>Nunc viverra semper auctor</p>
                        </li>
                        <li>
                          <span class="blue">6</span>
                          <p>Nunc viverra semper auctor</p>
                        </li>
                      </ul>
                    </div>
                  </mat-expansion-panel>
                </mat-accordion>
              </div>
              <div class="create_btn_box">
                <button>
                  <img src="../../../assets/images/round_plus.svg" alt="" />
                  Create Epic
                </button>
              </div>
            </li>
            <li>
              <p>March</p>
              <span></span>
            </li>
            <li>
              <p>April</p>
              <span></span>
            </li>
            <li>
              <p>MAY</p>
              <span></span>
            </li>
          </ul>
          <div class="right_table">
            <img src="../../../assets/images/Table.png" alt="" />
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</main>
