<div class="container comon-gap">
  <div class="row">
    <div class="col-md-3">
      <!--  -->
      <app-sidebar></app-sidebar>
      <!--  -->
    </div>
    <div class="col-md-9">
      <div class="projectsectiontop">
        <div class="leftsection">
          <h3>Projects / Dev pro 01</h3>
          <h2>Roadmap</h2>
        </div>
        <div class="right-section">
          <button class="feed_btn"><img src="../../../assets/images/give_icon.svg" /> Give feedback</button>
          <button class="feed_btn"><img src="../../../assets/images/share.svg" /> Share</button>
          <button class="feed_btn"><img src="../../../assets/images/export.svg" /> Export</button>
          <button><img src="../../../assets/images/datedicon.svg" /></button>
        </div>
      </div>
      <div class="search_bar_box_bar">
        <div class="row">
          <div class="col-sm-8">
            <div class="search_bar_box_sec">
              <div class="search_bar_box">
                <button>
                  <mat-icon>search</mat-icon>
                </button>
                <input type="text" placeholder="Search" />
              </div>
              <div class="people_list">
                <ul>
                  <li><img src="../../../assets/images/person1.svg" alt="" /></li>
                  <li><img src="../../../assets/images/person2.svg" alt="" /></li>
                  <li><img src="../../../assets/images/round_plus_icon.svg" alt="" /></li>
                </ul>
              </div>
              <div class="select_bar">
                <select>
                  <option>Status category</option>
                  <option>Status category</option>
                  <option>Status category</option>
                </select>
                <select>
                  <option>Epic</option>
                  <option>Epic</option>
                  <option>Epic</option>
                </select>
                
              </div>

            </div>

          </div>
          <div class="col-sm-4">
            <div class="right_select_bar">
              <p>Group By</p>
              <select>
                <option>None</option>
                <option>None</option>
                <option>None</option>
              </select>
              <button><img src="../../../assets/images/graff.svg" alt="" /> Reports</button>
            </div>
          </div>
        </div>
      </div>
      <div class="project_topic_bar_sec">
        <div class="project_topic_bar">
          <div class="left_box">
            <img src="../../../assets/images/bag.svg" />
          </div>
          <div class="right_box">
            <h2>Dev pro 01 <img src="../../../assets/images/edit.svg" alt="" class="edit_icon" /></h2>
            <h3>Team-managed software</h3>
          </div>
        </div>
        <div class="project_cont">
          <h3>Project Topic*</h3>
          <p>Quisque quis sapien vitae elit tristique hendrerit. In pulvinar condimentum mi, at imperdiet magna
            egestas quis. Nunc iaculis, mauris eget molestie consectetur, odio libero vulputate odio, vel venenatis
            lectus purus eu magna. Proin finibus felis nisl, eu malesuada purus consectetur vehicula.</p>
          <div class="button_bar">
            <button class="add_btn">Add Topic</button>
            <button class="edit_btn">
              <mat-icon>edit</mat-icon> Edit Topic
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
