<main class="resource-pull-main">
    <section>
        <div class="container">
            <div class="resource-header">
                <h3>Resource pull </h3>
                <div class="search-block">
                    <form class="search-task">
                        <input type="search" placeholder="Search Resource name / email" />
                    </form>
                </div>
            </div>

            <div class="resource-body">
                <div class="resource-body-header">
                    <h4>All Resources</h4>
                    <button class="btn">Add new Resource</button>
                </div>

                <div class="resource-card-wrapper">
                    <div class="resource-item">
                        <a routerLink="">
                            <div class="resource-item-card p-10">
                                <div class="resource-img">
                                    <img src="assets/images/resourceProfileImg.png" alt="">
                                </div>
                                <h4>Jason William</h4>
                                <p>7 Projects • 35 Hrs</p>
                            </div>
                        </a>
                    </div>

                    <div class="resource-item">
                        <a routerLink="">
                            <div class="resource-item-card p-10">
                                <div class="resource-img">
                                    <img src="assets/images/resourceProfileImg.png" alt="">
                                </div>
                                <h4>Jason William</h4>
                                <p>7 Projects • 35 Hrs</p>
                            </div>
                        </a>
                    </div>

                    <div class="resource-item">
                        <a routerLink="">
                            <div class="resource-item-card p-10">
                                <div class="resource-img">
                                    <img src="assets/images/resourceProfileImg.png" alt="">
                                </div>
                                <h4>Jason William</h4>
                                <p>7 Projects • 35 Hrs</p>
                            </div>
                        </a>
                    </div>

                    <div class="resource-item">
                        <a routerLink="">
                            <div class="resource-item-card p-10">
                                <div class="resource-img">
                                    <img src="assets/images/resourceProfileImg.png" alt="">
                                </div>
                                <h4>Jason William</h4>
                                <p>7 Projects • 35 Hrs</p>
                            </div>
                        </a>
                    </div>

                    <div class="resource-item">
                        <a routerLink="">
                            <div class="resource-item-card p-10">
                                <div class="resource-img">
                                    <img src="assets/images/resourceProfileImg.png" alt="">
                                </div>
                                <h4>Jason William</h4>
                                <p>7 Projects • 35 Hrs</p>
                            </div>
                        </a>
                    </div>

                    <div class="resource-item">
                        <a routerLink="">
                            <div class="resource-item-card p-10">
                                <div class="resource-img">
                                    <img src="assets/images/resourceProfileImg.png" alt="">
                                </div>
                                <h4>Jason William</h4>
                                <p>7 Projects • 35 Hrs</p>
                            </div>
                        </a>
                    </div>

                    <div class="resource-item">
                        <a routerLink="">
                            <div class="resource-item-card p-10">
                                <div class="resource-img">
                                    <img src="assets/images/resourceProfileImg.png" alt="">
                                </div>
                                <h4>Jason William</h4>
                                <p>7 Projects • 35 Hrs</p>
                            </div>
                        </a>
                    </div>

                    <div class="resource-item">
                        <a routerLink="">
                            <div class="resource-item-card p-10">
                                <div class="resource-img">
                                    <img src="assets/images/resourceProfileImg.png" alt="">
                                </div>
                                <h4>Jason William</h4>
                                <p>7 Projects • 35 Hrs</p>
                            </div>
                        </a>
                    </div>

                    <div class="resource-item">
                        <a routerLink="">
                            <div class="resource-item-card p-10">
                                <div class="resource-img">
                                    <img src="assets/images/resourceProfileImg.png" alt="">
                                </div>
                                <h4>Jason William</h4>
                                <p>7 Projects • 35 Hrs</p>
                            </div>
                        </a>
                    </div>

                    <div class="resource-item">
                        <a routerLink="">
                            <div class="resource-item-card p-10">
                                <div class="resource-img">
                                    <img src="assets/images/resourceProfileImg.png" alt="">
                                </div>
                                <h4>Jason William</h4>
                                <p>7 Projects • 35 Hrs</p>
                            </div>
                        </a>
                    </div>

                    <div class="resource-item">
                        <a routerLink="">
                            <div class="resource-item-card p-10">
                                <div class="resource-img">
                                    <img src="assets/images/resourceProfileImg.png" alt="">
                                </div>
                                <h4>Jason William</h4>
                                <p>7 Projects • 35 Hrs</p>
                            </div>
                        </a>
                    </div>

                    <div class="resource-item">
                        <a routerLink="">
                            <div class="resource-item-card p-10">
                                <div class="resource-img">
                                    <img src="assets/images/resourceProfileImg.png" alt="">
                                </div>
                                <h4>Jason William</h4>
                                <p>7 Projects • 35 Hrs</p>
                            </div>
                        </a>
                    </div>

                    <div class="resource-item">
                        <a routerLink="">
                            <div class="resource-item-card p-10">
                                <div class="resource-img">
                                    <img src="assets/images/resourceProfileImg.png" alt="">
                                </div>
                                <h4>Jason William</h4>
                                <p>7 Projects • 35 Hrs</p>
                            </div>
                        </a>
                    </div>

                    <div class="resource-item">
                        <a routerLink="">
                            <div class="resource-item-card p-10">
                                <div class="resource-img">
                                    <img src="assets/images/resourceProfileImg.png" alt="">
                                </div>
                                <h4>Jason William</h4>
                                <p>7 Projects • 35 Hrs</p>
                            </div>
                        </a>
                    </div>

                    <div class="resource-item">
                        <a routerLink="">
                            <div class="resource-item-card p-10">
                                <div class="resource-img">
                                    <img src="assets/images/resourceProfileImg.png" alt="">
                                </div>
                                <h4>Jason William</h4>
                                <p>7 Projects • 35 Hrs</p>
                            </div>
                        </a>
                    </div>

                    <div class="resource-item">
                        <a routerLink="">
                            <div class="resource-item-card p-10">
                                <div class="resource-img">
                                    <img src="assets/images/resourceProfileImg.png" alt="">
                                </div>
                                <h4>Jason William</h4>
                                <p>7 Projects • 35 Hrs</p>
                            </div>
                        </a>
                    </div>

                    <div class="resource-item">
                        <a routerLink="">
                            <div class="resource-item-card p-10">
                                <div class="resource-img">
                                    <img src="assets/images/resourceProfileImg.png" alt="">
                                </div>
                                <h4>Jason William</h4>
                                <p>7 Projects • 35 Hrs</p>
                            </div>
                        </a>
                    </div>

                    <div class="resource-item">
                        <a routerLink="">
                            <div class="resource-item-card p-10">
                                <div class="resource-img">
                                    <img src="assets/images/resourceProfileImg.png" alt="">
                                </div>
                                <h4>Jason William</h4>
                                <p>7 Projects • 35 Hrs</p>
                            </div>
                        </a>
                    </div>

                    <div class="resource-item">
                        <a routerLink="">
                            <div class="resource-item-card p-10">
                                <div class="resource-img">
                                    <img src="assets/images/resourceProfileImg.png" alt="">
                                </div>
                                <h4>Jason William</h4>
                                <p>7 Projects • 35 Hrs</p>
                            </div>
                        </a>
                    </div>

                    <div class="resource-item">
                        <a routerLink="">
                            <div class="resource-item-card p-10">
                                <div class="resource-img">
                                    <img src="assets/images/resourceProfileImg.png" alt="">
                                </div>
                                <h4>Jason William</h4>
                                <p>7 Projects • 35 Hrs</p>
                            </div>
                        </a>
                    </div>


                </div>
            </div>
        </div>
    </section>
</main>