<main class="resource-pull-main">
    <section>
        <div class="container">
            <div class="resource-header">
                <h3>Resource pull </h3>
                <div class="search-block">
                    <form class="search-task">
                        <input type="search" placeholder="Search Resource name / email" />
                    </form>
                </div>
            </div>

            <div class="resource-body">
                <div class="resource-body-header">
                    <h4>All Resources</h4>
                    <button class="btn">Add new Resource</button>
                </div>

                <div class="resource-card-wrapper">
                    
                </div>
            </div>
        </div>
    </section>
</main>