<header class="header-wrapper">
  <div class="container">
    <div class="row">
      <div class="col-12 col-md-6 logo-with-search">
        <a routerLink="/home" class="logo"><img src="./assets/images/logo.svg" alt="" /></a>

        <div class="mobile_bar">
          <ul>
            <li>
              <div class="search_icon">
                <img src="./assets/images/search.svg" alt="" (click)="openSearchText()"/>
                <ng-container *ngIf="searchText">
                  <form class="search-task">
                    <input type="search" placeholder="Search Tasks" />
                  </form>
              </ng-container>
              </div>
              
              
            </li>
            <li class="projects_icon">
              <img src="./assets/images/project.svg" alt=""  />
            </li>
            <li>
              <a href="#" class="header-notification">
                <i class="fa-solid fa-bell"></i>
                <span class="notification-count">1</span>
              </a>
            </li>
            <li>
              <div class="abtar-account-holder">
                <button type="button" class="header-user">
                  <img src="./assets/images/avater.png" alt="" />
                </button>
                <div class="my_account_box">
                  <ul>
                    <li><a href="#"><span>View Profile</span> <img src="./assets/images/my_profile_icon1.svg" alt="" /></a></li>
                    <li><a href="#"><span>Edit Profile</span> <img src="./assets/images/my_profile_icon2.svg" alt="" /></a></li>
                    <li><a href="#"><span>logout</span> <img src="./assets/images/my_profile_icon3.svg" alt="" /></a></li>
                  </ul>
                </div> 
              </div>
            </li>
          </ul>
        </div>
        
        <div class="desktop_view">
          <form class="search-task">
            <input type="search" placeholder="Search Tasks" />
          </form>
        </div>
      </div>
      <div class="col-12 col-md-6 my-account-header">
        <button type="button" class="text-uppercase btn-link" (click)="addprojectModal()">
          Add new project
        </button>
        <a href="#" class="header-notification">
          <i class="fa-solid fa-bell"></i>
          <span class="notification-count">1</span>
        </a>
        <!-- <button type="button" class="header-user" routerLink="/login">
           Logout
          </button> -->
        <div class="abtar-account-holder">
          <button type="button" class="header-user">
            <img src="./assets/images/avater.png" alt="" (click)="closeDrop()"/>
          </button>
          <div class="my_account_box">
            <ul *ngIf="drop">
              <li><a href="#"><span>View Profile</span> <img src="./assets/images/my_profile_icon1.svg" alt="" /></a></li>
              <li><a href="#"><span>Edit Profile</span> <img src="./assets/images/my_profile_icon2.svg" alt="" /></a></li>
              <li><a routerLink="/login"><span>logout</span> <img src="./assets/images/my_profile_icon3.svg" alt="" /></a></li>
            </ul>
          </div> 
        </div>
      </div>
    </div>
  </div>
</header>
