<main class="task-board-wrapper">
    <section class="task-board-header">
        <div class="container">
            <div class="task-board-profile">
                <h3>Task Board</h3>
                <div class="member-group">
                    <ul>
                        <li><button><img src="assets/images/homeAvatar1.png" alt=""></button></li>
                        <li><button><img src="assets/images/homeAvatar2.png" alt=""></button></li>
                        <li><button><img src="assets/images/homeAvatar1.png" alt=""></button></li>
                        <li><button><img src="assets/images/homeAvatar2.png" alt=""></button></li>
                        <li><button>+5</button></li>
                    </ul>

                    <button><img src="assets/images/plusIcon.svg" alt=""></button>
                </div>
            </div>

            <div class="view-search">
                <div class="grid-list-view">
                    <ul>
                        <li>
                            <button>
                                <img src="assets/images/gridViewIcon.svg" alt="">
                                <span>Board View</span>
                            </button>
                        </li>
                        <li>
                            <button>
                                <img src="assets/images/listViewIcon.svg" alt="">
                                <span>List View</span>
                            </button>
                        </li>
                    </ul>
                </div>

                <div class="search-block">
                    <form class="search-task">
                        <input type="search" placeholder="Search Tasks" />
                    </form>
                </div>
            </div>
        </div>
    </section>
</main>