<main class="task-board-wrapper">
    <section class="task-board-header">
        <div class="container">
            <div class="task-board-profile">
                <h3>Task Board</h3>
                <div class="member-group">
                    <ul>
                        <li><button><img src="assets/images/homeAvatar1.png" alt=""></button></li>
                        <li><button><img src="assets/images/homeAvatar2.png" alt=""></button></li>
                        <li><button><img src="assets/images/homeAvatar1.png" alt=""></button></li>
                        <li><button><img src="assets/images/homeAvatar2.png" alt=""></button></li>
                        <li><button>+5</button></li>
                    </ul>

                    <button><img src="assets/images/plusIcon.svg" alt=""></button>
                </div>
            </div>

            <div class="view-search">
                <div class="grid-list-view">
                    <ul>
                        <li class="active_box">
                            <button>
                                <img src="assets/images/gridViewIcon.svg" alt="">
                                <span>Board View</span>
                            </button>
                        </li>
                        <li>
                            <button>
                                <img src="assets/images/listViewIcon.svg" alt="">
                                <span>List View</span>
                            </button>
                        </li>
                    </ul>
                </div>

                <div class="search-block">
                    <form class="search-task">
                        <input type="text" placeholder="Search Tasks" />
                    </form>
                </div>
            </div>
        </div>
    </section>

    <section class="task-board-body">
        <div class="container">
            <div class="task-board-body-wrapper">
                <div class="project-updates-col">
                    <div class="common-title recent">
                        <h3>Recent projects <span>4</span></h3>
                    </div>

                    <div class="project-items">
                        <div class="project-item">
                            <div class="card-layout p-10">
                                <div class="project-status">
                                    <div class="project-icon">
                                        <img src="./assets/images/sutecase.svg" alt="" />
                                    </div>
                                    <div class="project-status-tag">
                                        <div class="project-flag yellow">
                                            <i class="fa-solid fa-flag"></i>
                                        </div>
                                        <div class="status-tag">Ongoing</div>
                                    </div>
                                </div>

                                <div class="project-description">
                                    <h4>Dev pro 01</h4>
                                    <p>Team-managed software</p>

                                    <div class="project-progressbar">
                                        <p>Project Status <span>55%</span></p>
                                        <mat-progress-bar mode="determinate" value="40"></mat-progress-bar>
                                    </div>

                                    <div class="project-timing">
                                        <p>Total Hours <span>45 hrs</span></p>
                                        <p>Pending Hours <span>24 hrs</span></p>
                                    </div>
                                </div>

                                <div class="project-members">
                                    <div class="member-group">
                                        <ul>
                                            <li><button><img src="assets/images/homeAvatar1.png" alt=""></button></li>
                                            <li><button><img src="assets/images/homeAvatar2.png" alt=""></button></li>
                                            <li><button>+5</button></li>
                                        </ul>

                                        <button><img src="assets/images/plusIcon.svg" alt=""></button>
                                    </div>

                                    <div class="member-attach">
                                        <ul>
                                            <li>
                                                <img src="assets/images/attachFileIcon.svg" alt="">
                                                <span>2</span>
                                            </li>
                                            <li>
                                                <img src="assets/images/messageIcon.svg" alt="">
                                                <span>3</span>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="project-item">
                            <div class="card-layout p-10">
                                <div class="project-status">
                                    <div class="project-icon">
                                        <img src="./assets/images/sutecase.svg" alt="" />
                                    </div>
                                    <div class="project-status-tag">
                                        <div class="project-flag green">
                                            <i class="fa-solid fa-flag"></i>
                                        </div>
                                        <div class="status-tag">Ongoing</div>
                                    </div>
                                </div>

                                <div class="project-description">
                                    <h4>Dev pro 01</h4>
                                    <p>Team-managed software</p>

                                    <div class="project-progressbar">
                                        <p>Project Status <span>55%</span></p>
                                        <mat-progress-bar mode="determinate" value="40"></mat-progress-bar>
                                    </div>

                                    <div class="project-timing">
                                        <p>Total Hours <span>45 hrs</span></p>
                                        <p>Pending Hours <span>24 hrs</span></p>
                                    </div>
                                </div>

                                <div class="project-members">
                                    <div class="member-group">
                                        <ul>
                                            <li><button><img src="assets/images/homeAvatar1.png" alt=""></button></li>
                                            <li><button><img src="assets/images/homeAvatar2.png" alt=""></button></li>
                                            <li><button>+5</button></li>
                                        </ul>

                                        <button><img src="assets/images/plusIcon.svg" alt=""></button>
                                    </div>

                                    <div class="member-attach">
                                        <ul>
                                            <li>
                                                <img src="assets/images/attachFileIcon.svg" alt="">
                                                <span>2</span>
                                            </li>
                                            <li>
                                                <img src="assets/images/messageIcon.svg" alt="">
                                                <span>3</span>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="project-item">
                            <div class="card-layout p-10">
                                <div class="project-status">
                                    <div class="project-icon">
                                        <img src="./assets/images/sutecase.svg" alt="" />
                                    </div>
                                    <div class="project-status-tag">
                                        <div class="project-flag red">
                                            <i class="fa-solid fa-flag"></i>
                                        </div>
                                        <div class="status-tag">Ongoing</div>
                                    </div>
                                </div>

                                <div class="project-description">
                                    <h4>Dev pro 01</h4>
                                    <p>Team-managed software</p>

                                    <div class="project-progressbar">
                                        <p>Project Status <span>55%</span></p>
                                        <mat-progress-bar mode="determinate" value="40"></mat-progress-bar>
                                    </div>

                                    <div class="project-timing">
                                        <p>Total Hours <span>45 hrs</span></p>
                                        <p>Pending Hours <span>24 hrs</span></p>
                                    </div>
                                </div>

                                <div class="project-members">
                                    <div class="member-group">
                                        <ul>
                                            <li><button><img src="assets/images/homeAvatar1.png" alt=""></button></li>
                                            <li><button><img src="assets/images/homeAvatar2.png" alt=""></button></li>
                                            <li><button>+5</button></li>
                                        </ul>

                                        <button><img src="assets/images/plusIcon.svg" alt=""></button>
                                    </div>

                                    <div class="member-attach">
                                        <ul>
                                            <li>
                                                <img src="assets/images/attachFileIcon.svg" alt="">
                                                <span>2</span>
                                            </li>
                                            <li>
                                                <img src="assets/images/messageIcon.svg" alt="">
                                                <span>3</span>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="project-item">
                            <div class="card-layout p-10">
                                <div class="project-status">
                                    <div class="project-icon">
                                        <img src="./assets/images/sutecase.svg" alt="" />
                                    </div>
                                    <div class="project-status-tag">
                                        <div class="project-flag green">
                                            <i class="fa-solid fa-flag"></i>
                                        </div>
                                        <div class="status-tag">Ongoing</div>
                                    </div>
                                </div>

                                <div class="project-description">
                                    <h4>Dev pro 01</h4>
                                    <p>Team-managed software</p>

                                    <div class="project-progressbar">
                                        <p>Project Status <span>55%</span></p>
                                        <mat-progress-bar mode="determinate" value="40"></mat-progress-bar>
                                    </div>

                                    <div class="project-timing">
                                        <p>Total Hours <span>45 hrs</span></p>
                                        <p>Pending Hours <span>24 hrs</span></p>
                                    </div>
                                </div>

                                <div class="project-members">
                                    <div class="member-group">
                                        <ul>
                                            <li><button><img src="assets/images/homeAvatar1.png" alt=""></button></li>
                                            <li><button><img src="assets/images/homeAvatar2.png" alt=""></button></li>
                                            <li><button>+5</button></li>
                                        </ul>

                                        <button><img src="assets/images/plusIcon.svg" alt=""></button>
                                    </div>

                                    <div class="member-attach">
                                        <ul>
                                            <li>
                                                <img src="assets/images/attachFileIcon.svg" alt="">
                                                <span>2</span>
                                            </li>
                                            <li>
                                                <img src="assets/images/messageIcon.svg" alt="">
                                                <span>3</span>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="add-projects">
                        <button><mat-icon>add_circle</mat-icon></button>
                    </div>
                </div>

                <div class="project-updates-col">
                    <div class="common-title todo">
                        <h3>To Do Tasks <span>3</span></h3>
                    </div>

                    <div class="project-items">
                        <div class="project-item">
                            <div class="card-layout p-10">
                                <div class="project-status">
                                    <div class="project-icon">
                                        <img src="./assets/images/sutecase.svg" alt="" />
                                    </div>
                                    <div class="project-status-tag">
                                        <div class="project-flag green">
                                            <i class="fa-solid fa-flag"></i>
                                        </div>
                                        <div class="status-tag">Ongoing</div>
                                    </div>
                                </div>

                                <div class="project-description">
                                    <h4>Dev pro 01</h4>
                                    <p>Team-managed software</p>

                                    <div class="project-progressbar">
                                        <p>Project Status <span>55%</span></p>
                                        <mat-progress-bar mode="determinate" value="40"></mat-progress-bar>
                                    </div>

                                    <div class="project-timing">
                                        <p>Total Hours <span>45 hrs</span></p>
                                        <p>Pending Hours <span>24 hrs</span></p>
                                    </div>
                                </div>

                                <div class="project-members">
                                    <div class="member-group">
                                        <ul>
                                            <li><button><img src="assets/images/homeAvatar1.png" alt=""></button></li>
                                            <li><button><img src="assets/images/homeAvatar2.png" alt=""></button></li>
                                            <li><button>+5</button></li>
                                        </ul>

                                        <button><img src="assets/images/plusIcon.svg" alt=""></button>
                                    </div>

                                    <div class="member-attach">
                                        <ul>
                                            <li>
                                                <img src="assets/images/attachFileIcon.svg" alt="">
                                                <span>2</span>
                                            </li>
                                            <li>
                                                <img src="assets/images/messageIcon.svg" alt="">
                                                <span>3</span>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="project-item">
                            <div class="card-layout p-10">
                                <div class="project-status">
                                    <div class="project-icon">
                                        <img src="./assets/images/sutecase.svg" alt="" />
                                    </div>
                                    <div class="project-status-tag">
                                        <div class="project-flag green">
                                            <i class="fa-solid fa-flag"></i>
                                        </div>
                                        <div class="status-tag">Ongoing</div>
                                    </div>
                                </div>

                                <div class="project-description">
                                    <h4>Dev pro 01</h4>
                                    <p>Team-managed software</p>

                                    <div class="project-progressbar">
                                        <p>Project Status <span>55%</span></p>
                                        <mat-progress-bar mode="determinate" value="40"></mat-progress-bar>
                                    </div>

                                    <div class="project-timing">
                                        <p>Total Hours <span>45 hrs</span></p>
                                        <p>Pending Hours <span>24 hrs</span></p>
                                    </div>
                                </div>

                                <div class="project-members">
                                    <div class="member-group">
                                        <ul>
                                            <li><button><img src="assets/images/homeAvatar1.png" alt=""></button></li>
                                            <li><button><img src="assets/images/homeAvatar2.png" alt=""></button></li>
                                            <li><button>+5</button></li>
                                        </ul>

                                        <button><img src="assets/images/plusIcon.svg" alt=""></button>
                                    </div>

                                    <div class="member-attach">
                                        <ul>
                                            <li>
                                                <img src="assets/images/attachFileIcon.svg" alt="">
                                                <span>2</span>
                                            </li>
                                            <li>
                                                <img src="assets/images/messageIcon.svg" alt="">
                                                <span>3</span>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="project-item">
                            <div class="card-layout p-10">
                                <div class="project-status">
                                    <div class="project-icon">
                                        <img src="./assets/images/sutecase.svg" alt="" />
                                    </div>
                                    <div class="project-status-tag">
                                        <div class="project-flag red">
                                            <i class="fa-solid fa-flag"></i>
                                        </div>
                                        <div class="status-tag">Ongoing</div>
                                    </div>
                                </div>

                                <div class="project-description">
                                    <h4>Dev pro 01</h4>
                                    <p>Team-managed software</p>

                                    <div class="project-progressbar">
                                        <p>Project Status <span>55%</span></p>
                                        <mat-progress-bar mode="determinate" value="40"></mat-progress-bar>
                                    </div>

                                    <div class="project-timing">
                                        <p>Total Hours <span>45 hrs</span></p>
                                        <p>Pending Hours <span>24 hrs</span></p>
                                    </div>
                                </div>

                                <div class="project-members">
                                    <div class="member-group">
                                        <ul>
                                            <li><button><img src="assets/images/homeAvatar1.png" alt=""></button></li>
                                            <li><button><img src="assets/images/homeAvatar2.png" alt=""></button></li>
                                            <li><button>+5</button></li>
                                        </ul>

                                        <button><img src="assets/images/plusIcon.svg" alt=""></button>
                                    </div>

                                    <div class="member-attach">
                                        <ul>
                                            <li>
                                                <img src="assets/images/attachFileIcon.svg" alt="">
                                                <span>2</span>
                                            </li>
                                            <li>
                                                <img src="assets/images/messageIcon.svg" alt="">
                                                <span>3</span>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="add-projects">
                        <button><mat-icon>add_circle</mat-icon></button>
                    </div>
                </div>

                <div class="project-updates-col">
                    <div class="common-title process">
                        <h3>In Process <span>2</span></h3>
                    </div>

                    <div class="project-items">
                        <div class="project-item">
                            <div class="card-layout p-10">
                                <div class="project-status">
                                    <div class="project-icon">
                                        <img src="./assets/images/sutecase.svg" alt="" />
                                    </div>
                                    <div class="project-status-tag">
                                        <div class="project-flag green">
                                            <i class="fa-solid fa-flag"></i>
                                        </div>
                                        <div class="status-tag">Ongoing</div>
                                    </div>
                                </div>

                                <div class="project-description">
                                    <h4>Dev pro 01</h4>
                                    <p>Team-managed software</p>

                                    <div class="project-progressbar">
                                        <p>Project Status <span>55%</span></p>
                                        <mat-progress-bar mode="determinate" value="40"></mat-progress-bar>
                                    </div>

                                    <div class="project-timing">
                                        <p>Total Hours <span>45 hrs</span></p>
                                        <p>Pending Hours <span>24 hrs</span></p>
                                    </div>
                                </div>

                                <div class="project-members">
                                    <div class="member-group">
                                        <ul>
                                            <li><button><img src="assets/images/homeAvatar1.png" alt=""></button></li>
                                            <li><button><img src="assets/images/homeAvatar2.png" alt=""></button></li>
                                            <li><button>+5</button></li>
                                        </ul>

                                        <button><img src="assets/images/plusIcon.svg" alt=""></button>
                                    </div>

                                    <div class="member-attach">
                                        <ul>
                                            <li>
                                                <img src="assets/images/attachFileIcon.svg" alt="">
                                                <span>2</span>
                                            </li>
                                            <li>
                                                <img src="assets/images/messageIcon.svg" alt="">
                                                <span>3</span>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="project-item">
                            <div class="card-layout p-10">
                                <div class="project-status">
                                    <div class="project-icon">
                                        <img src="./assets/images/sutecase.svg" alt="" />
                                    </div>
                                    <div class="project-status-tag">
                                        <div class="project-flag green">
                                            <i class="fa-solid fa-flag"></i>
                                        </div>
                                        <div class="status-tag">Ongoing</div>
                                    </div>
                                </div>

                                <div class="project-description">
                                    <h4>Dev pro 01</h4>
                                    <p>Team-managed software</p>

                                    <div class="project-progressbar">
                                        <p>Project Status <span>55%</span></p>
                                        <mat-progress-bar mode="determinate" value="40"></mat-progress-bar>
                                    </div>

                                    <div class="project-timing">
                                        <p>Total Hours <span>45 hrs</span></p>
                                        <p>Pending Hours <span>24 hrs</span></p>
                                    </div>
                                </div>

                                <div class="project-members">
                                    <div class="member-group">
                                        <ul>
                                            <li><button><img src="assets/images/homeAvatar1.png" alt=""></button></li>
                                            <li><button><img src="assets/images/homeAvatar2.png" alt=""></button></li>
                                            <li><button>+5</button></li>
                                        </ul>

                                        <button><img src="assets/images/plusIcon.svg" alt=""></button>
                                    </div>

                                    <div class="member-attach">
                                        <ul>
                                            <li>
                                                <img src="assets/images/attachFileIcon.svg" alt="">
                                                <span>2</span>
                                            </li>
                                            <li>
                                                <img src="assets/images/messageIcon.svg" alt="">
                                                <span>3</span>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="add-projects">
                        <button><mat-icon>add_circle</mat-icon></button>
                    </div>
                </div>

                <div class="project-updates-col">
                    <div class="common-title qa">
                        <h3>In QA <span>4</span></h3>
                    </div>

                    <div class="project-items">
                        <div class="project-item">
                            <div class="card-layout p-10">
                                <div class="project-status">
                                    <div class="project-icon">
                                        <img src="./assets/images/sutecase.svg" alt="" />
                                    </div>
                                    <div class="project-status-tag">
                                        <div class="project-flag green">
                                            <i class="fa-solid fa-flag"></i>
                                        </div>
                                        <div class="status-tag">Ongoing</div>
                                    </div>
                                </div>

                                <div class="project-description">
                                    <h4>Dev pro 01</h4>
                                    <p>Team-managed software</p>

                                    <div class="project-progressbar">
                                        <p>Project Status <span>55%</span></p>
                                        <mat-progress-bar mode="determinate" value="40"></mat-progress-bar>
                                    </div>

                                    <div class="project-timing">
                                        <p>Total Hours <span>45 hrs</span></p>
                                        <p>Pending Hours <span>24 hrs</span></p>
                                    </div>
                                </div>

                                <div class="project-members">
                                    <div class="member-group">
                                        <ul>
                                            <li><button><img src="assets/images/homeAvatar1.png" alt=""></button></li>
                                            <li><button><img src="assets/images/homeAvatar2.png" alt=""></button></li>
                                            <li><button>+5</button></li>
                                        </ul>

                                        <button><img src="assets/images/plusIcon.svg" alt=""></button>
                                    </div>

                                    <div class="member-attach">
                                        <ul>
                                            <li>
                                                <img src="assets/images/attachFileIcon.svg" alt="">
                                                <span>2</span>
                                            </li>
                                            <li>
                                                <img src="assets/images/messageIcon.svg" alt="">
                                                <span>3</span>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="project-item">
                            <div class="card-layout p-10">
                                <div class="project-status">
                                    <div class="project-icon">
                                        <img src="./assets/images/sutecase.svg" alt="" />
                                    </div>
                                    <div class="project-status-tag">
                                        <div class="project-flag green">
                                            <i class="fa-solid fa-flag"></i>
                                        </div>
                                        <div class="status-tag">Ongoing</div>
                                    </div>
                                </div>

                                <div class="project-description">
                                    <h4>Dev pro 01</h4>
                                    <p>Team-managed software</p>

                                    <div class="project-progressbar">
                                        <p>Project Status <span>55%</span></p>
                                        <mat-progress-bar mode="determinate" value="40"></mat-progress-bar>
                                    </div>

                                    <div class="project-timing">
                                        <p>Total Hours <span>45 hrs</span></p>
                                        <p>Pending Hours <span>24 hrs</span></p>
                                    </div>
                                </div>

                                <div class="project-members">
                                    <div class="member-group">
                                        <ul>
                                            <li><button><img src="assets/images/homeAvatar1.png" alt=""></button></li>
                                            <li><button><img src="assets/images/homeAvatar2.png" alt=""></button></li>
                                            <li><button>+5</button></li>
                                        </ul>

                                        <button><img src="assets/images/plusIcon.svg" alt=""></button>
                                    </div>

                                    <div class="member-attach">
                                        <ul>
                                            <li>
                                                <img src="assets/images/attachFileIcon.svg" alt="">
                                                <span>2</span>
                                            </li>
                                            <li>
                                                <img src="assets/images/messageIcon.svg" alt="">
                                                <span>3</span>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="project-item">
                            <div class="card-layout p-10">
                                <div class="project-status">
                                    <div class="project-icon">
                                        <img src="./assets/images/sutecase.svg" alt="" />
                                    </div>
                                    <div class="project-status-tag">
                                        <div class="project-flag red">
                                            <i class="fa-solid fa-flag"></i>
                                        </div>
                                        <div class="status-tag">Ongoing</div>
                                    </div>
                                </div>

                                <div class="project-description">
                                    <h4>Dev pro 01</h4>
                                    <p>Team-managed software</p>

                                    <div class="project-progressbar">
                                        <p>Project Status <span>55%</span></p>
                                        <mat-progress-bar mode="determinate" value="40"></mat-progress-bar>
                                    </div>

                                    <div class="project-timing">
                                        <p>Total Hours <span>45 hrs</span></p>
                                        <p>Pending Hours <span>24 hrs</span></p>
                                    </div>
                                </div>

                                <div class="project-members">
                                    <div class="member-group">
                                        <ul>
                                            <li><button><img src="assets/images/homeAvatar1.png" alt=""></button></li>
                                            <li><button><img src="assets/images/homeAvatar2.png" alt=""></button></li>
                                            <li><button>+5</button></li>
                                        </ul>

                                        <button><img src="assets/images/plusIcon.svg" alt=""></button>
                                    </div>

                                    <div class="member-attach">
                                        <ul>
                                            <li>
                                                <img src="assets/images/attachFileIcon.svg" alt="">
                                                <span>2</span>
                                            </li>
                                            <li>
                                                <img src="assets/images/messageIcon.svg" alt="">
                                                <span>3</span>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="project-item">
                            <div class="card-layout p-10">
                                <div class="project-status">
                                    <div class="project-icon">
                                        <img src="./assets/images/sutecase.svg" alt="" />
                                    </div>
                                    <div class="project-status-tag">
                                        <div class="project-flag green">
                                            <i class="fa-solid fa-flag"></i>
                                        </div>
                                        <div class="status-tag">Ongoing</div>
                                    </div>
                                </div>

                                <div class="project-description">
                                    <h4>Dev pro 01</h4>
                                    <p>Team-managed software</p>

                                    <div class="project-progressbar">
                                        <p>Project Status <span>55%</span></p>
                                        <mat-progress-bar mode="determinate" value="40"></mat-progress-bar>
                                    </div>

                                    <div class="project-timing">
                                        <p>Total Hours <span>45 hrs</span></p>
                                        <p>Pending Hours <span>24 hrs</span></p>
                                    </div>
                                </div>

                                <div class="project-members">
                                    <div class="member-group">
                                        <ul>
                                            <li><button><img src="assets/images/homeAvatar1.png" alt=""></button></li>
                                            <li><button><img src="assets/images/homeAvatar2.png" alt=""></button></li>
                                            <li><button>+5</button></li>
                                        </ul>

                                        <button><img src="assets/images/plusIcon.svg" alt=""></button>
                                    </div>

                                    <div class="member-attach">
                                        <ul>
                                            <li>
                                                <img src="assets/images/attachFileIcon.svg" alt="">
                                                <span>2</span>
                                            </li>
                                            <li>
                                                <img src="assets/images/messageIcon.svg" alt="">
                                                <span>3</span>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="add-projects">
                        <button><mat-icon>add_circle</mat-icon></button>
                    </div>
                </div>

                <div class="project-updates-col">
                    <div class="common-title done">
                        <h3>Done <span>3</span></h3>
                    </div>

                    <div class="project-items">
                        <div class="project-item">
                            <div class="card-layout p-10">
                                <div class="project-status">
                                    <div class="project-icon">
                                        <img src="./assets/images/sutecase.svg" alt="" />
                                    </div>
                                    <div class="project-status-tag">
                                        <div class="project-flag green">
                                            <i class="fa-solid fa-flag"></i>
                                        </div>
                                        <div class="status-tag">Ongoing</div>
                                    </div>
                                </div>

                                <div class="project-description">
                                    <h4>Dev pro 01</h4>
                                    <p>Team-managed software</p>

                                    <div class="project-progressbar">
                                        <p>Project Status <span>55%</span></p>
                                        <mat-progress-bar mode="determinate" value="40"></mat-progress-bar>
                                    </div>

                                    <div class="project-timing">
                                        <p>Total Hours <span>45 hrs</span></p>
                                        <p>Pending Hours <span>24 hrs</span></p>
                                    </div>
                                </div>

                                <div class="project-members">
                                    <div class="member-group">
                                        <ul>
                                            <li><button><img src="assets/images/homeAvatar1.png" alt=""></button></li>
                                            <li><button><img src="assets/images/homeAvatar2.png" alt=""></button></li>
                                            <li><button>+5</button></li>
                                        </ul>

                                        <button><img src="assets/images/plusIcon.svg" alt=""></button>
                                    </div>

                                    <div class="member-attach">
                                        <ul>
                                            <li>
                                                <img src="assets/images/attachFileIcon.svg" alt="">
                                                <span>2</span>
                                            </li>
                                            <li>
                                                <img src="assets/images/messageIcon.svg" alt="">
                                                <span>3</span>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="project-item">
                            <div class="card-layout p-10">
                                <div class="project-status">
                                    <div class="project-icon">
                                        <img src="./assets/images/sutecase.svg" alt="" />
                                    </div>
                                    <div class="project-status-tag">
                                        <div class="project-flag green">
                                            <i class="fa-solid fa-flag"></i>
                                        </div>
                                        <div class="status-tag">Ongoing</div>
                                    </div>
                                </div>

                                <div class="project-description">
                                    <h4>Dev pro 01</h4>
                                    <p>Team-managed software</p>

                                    <div class="project-progressbar">
                                        <p>Project Status <span>55%</span></p>
                                        <mat-progress-bar mode="determinate" value="40"></mat-progress-bar>
                                    </div>

                                    <div class="project-timing">
                                        <p>Total Hours <span>45 hrs</span></p>
                                        <p>Pending Hours <span>24 hrs</span></p>
                                    </div>
                                </div>

                                <div class="project-members">
                                    <div class="member-group">
                                        <ul>
                                            <li><button><img src="assets/images/homeAvatar1.png" alt=""></button></li>
                                            <li><button><img src="assets/images/homeAvatar2.png" alt=""></button></li>
                                            <li><button>+5</button></li>
                                        </ul>

                                        <button><img src="assets/images/plusIcon.svg" alt=""></button>
                                    </div>

                                    <div class="member-attach">
                                        <ul>
                                            <li>
                                                <img src="assets/images/attachFileIcon.svg" alt="">
                                                <span>2</span>
                                            </li>
                                            <li>
                                                <img src="assets/images/messageIcon.svg" alt="">
                                                <span>3</span>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="project-item">
                            <div class="card-layout p-10">
                                <div class="project-status">
                                    <div class="project-icon">
                                        <img src="./assets/images/sutecase.svg" alt="" />
                                    </div>
                                    <div class="project-status-tag">
                                        <div class="project-flag red">
                                            <i class="fa-solid fa-flag"></i>
                                        </div>
                                        <div class="status-tag">Ongoing</div>
                                    </div>
                                </div>

                                <div class="project-description">
                                    <h4>Dev pro 01</h4>
                                    <p>Team-managed software</p>

                                    <div class="project-progressbar">
                                        <p>Project Status <span>55%</span></p>
                                        <mat-progress-bar mode="determinate" value="40"></mat-progress-bar>
                                    </div>

                                    <div class="project-timing">
                                        <p>Total Hours <span>45 hrs</span></p>
                                        <p>Pending Hours <span>24 hrs</span></p>
                                    </div>
                                </div>

                                <div class="project-members">
                                    <div class="member-group">
                                        <ul>
                                            <li><button><img src="assets/images/homeAvatar1.png" alt=""></button></li>
                                            <li><button><img src="assets/images/homeAvatar2.png" alt=""></button></li>
                                            <li><button>+5</button></li>
                                        </ul>

                                        <button><img src="assets/images/plusIcon.svg" alt=""></button>
                                    </div>

                                    <div class="member-attach">
                                        <ul>
                                            <li>
                                                <img src="assets/images/attachFileIcon.svg" alt="">
                                                <span>2</span>
                                            </li>
                                            <li>
                                                <img src="assets/images/messageIcon.svg" alt="">
                                                <span>3</span>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="add-projects">
                        <button><mat-icon>add_circle</mat-icon></button>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>