.tab-slider--nav {
  border: 2px solid #EDEFF2;
  border-radius: 20px;
  padding: 15px;

  li {
    background: #FFFFFF;
    box-shadow: 0px 2px 5px rgba(38, 51, 77, 0.03);
    border-radius: 10px;
    display: flex;
    align-items: center;
    width: 100%;
    height: 60px;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    color: #7D8FB3;
    padding: 15px;
    margin-bottom: 15px;
    cursor: pointer;

    figure {
      width: 30px;
      height: 30px;
      display: flex;
      align-items: center;
      margin-right: 30px;
      justify-content: center;
    }

    &.active {
      background: #00BAFF;
      color: #fff;

      img {

        filter: brightness(0) invert(1);


      }
    }
  }
}

.projectsectiontop {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
  align-items: center;
  padding-bottom: 24px;

  .leftsection {
    h2 {
      font-size: 24px;
      color: #000000;
      margin-bottom: 0px;
    }

    h3 {
      font-size: 12px;
      line-height: 1.2;
      text-transform: capitalize;
      color: #5B6D74;
      margin-bottom: 0px;
    }
  }

  .right-section {
    span {
      font-size: 14px;
      line-height: 21px;
      color: #5B6D74;
      display: inline-block;
      padding: 0 15px;
    }

  }
}

.tab-slider--body {
  padding-left: 39px;
}

.projectsectionmid {
  .projectprogress {
    padding: 28px;

    .projectprogresstop {
      h2 {
        font-weight: 500;
        font-size: 16px;
        letter-spacing: 0.3px;
        color: #121212;
        margin-bottom: 0px;
      }

      p {
        font-weight: 400;
        font-size: 12px;
        line-height: 12px;
        letter-spacing: 0.3px;
        color: #41475E;
      }
    }
  }
}

.search_bar_box_bar {
  .search_bar_box_sec {
    display: flex;
    align-items: center;

    .search_bar_box {
      position: relative;
      max-width: 186px;
      width: 100%;

      button {
        position: absolute;
        left: 10px;
        top: 6px;
        background: transparent;
        padding: 0;

        mat-icon {
          color: #C7CED9;
        }
      }

      input {
        background: #FFFFFF;
        border: 1px solid #EBEEF2;
        box-shadow: 0px 1px 3px rgba(96, 108, 128, 0.05);
        border-radius: 8px;
        padding: 0 0 0 40px;
        height: 36px;
        min-height: auto;
        line-height: 1.5;
        font-weight: 500;
        font-size: 12px;
        line-height: 20px;
        color: #98A2B3;

        &::placeholder {
          color: #98A2B3;
        }
      }
    }

    .people_list {
      display: flex;
      align-items: center;
      margin: 0 0 0 20px;
      max-width: 150px;
      width: 100%;

      ul {
        display: flex;
        position: relative;
        margin: 0;

        li {
          margin: 0 -5px;
          display: flex;

          &:last-child {
            background: #FFFFFF;
            border: 1px dashed #EBEEF2;
            border-radius: 48px;
            position: absolute;
            right: -43px;
            top: 0px;
            padding: 7px;

          }
        }
      }


    }

    .select_bar {
      display: flex;

      select {
        height: 36px;
        line-height: 1.5;
        min-height: 36px;
        border-radius: 8px;
        border: none;
        font-weight: 500;
        font-size: 12px;
        line-height: 26px;
        text-transform: capitalize;
        color: #5B6D74;
        padding: 5px 20px 5px 15px;
        max-width: 200px;
        width: 100%;
        background-size: 9px;
        margin: 0 20px 0 0;

        &:first-child {
          background-color: rgba(86, 164, 200, 0.1);
        }
      }
    }
  }
}

.right_select_bar {
  display: flex;
  align-items: center;
  justify-content: flex-end;

  p {
    margin: 0 10px 0 0;
  }

  select {
    height: 36px;
    line-height: 1.5;
    min-height: 36px;
    border-radius: 8px;
    border: none;
    font-weight: 500;
    font-size: 12px;
    line-height: 26px;
    text-transform: capitalize;
    color: #5B6D74;
    padding: 5px 30px 5px 15px;
    background-size: 9px;
    margin: 0 20px 0 0;
    background-color: rgba(86, 164, 200, 0.1);
  }

  button {
    font-weight: 500;
    font-size: 12px;
    line-height: 26px;
    text-transform: capitalize;
    color: #5B6D74;
    background-color: rgba(86, 164, 200, 0.1);
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px 10px;

    img {
      margin: 0 5px 0 0;
    }
  }
}

.project_topic_bar_sec {
  background: #FFFFFF;
  border-radius: 6px;
  margin: 30px 0;
  padding: 20px;

  .project_topic_bar {
    display: flex;
    align-items: center;
    margin: 0 10px 0 0;
    margin: 0 0 20px 0;

    .left_box {
      img {
        margin: 0 15px 0px 0;
      }
    }

    .right_box {
      h2 {
        font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        text-transform: capitalize;
        color: #092C38;
        margin: 0;
      }

      h3 {
        font-weight: 400;
        font-size: 13px;
        line-height: 1.5;
        text-transform: capitalize;
        color: #383F49;
        margin: 0;
      }
    }
  }

  .project_cont {
    h3 {
      margin: 0 0 5px 0;
    }
  }

  .button_bar {
    display: flex;

    .add_btn {
      background: #00BAFF;
      box-shadow: 0px 8px 20px rgba(0, 186, 255, 0.11);
      border-radius: 7px;
      font-weight: 500;
      font-size: 13px;
      line-height: 20px;
      text-align: center;
      text-transform: capitalize;
      color: #FFFFFF;
      padding: 10px 20px;
      border: 1px solid #00BAFF;

      &:hover {
        border: 1px solid #00BAFF;
        color: #00BAFF;
        background: transparent;
      }
    }

    .edit_btn {
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: transparent;
      font-weight: 500;
      font-size: 13px;
      line-height: 20px;
      text-align: center;
      text-transform: capitalize;
      color: #5B6D74;

      &:hover {
        color: #00BAFF;
      }

      mat-icon {
        font-size: 12px;
        margin: 0;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
  }
}

.sharedoc {
  background: #FFFFFF;
  border-radius: 6px;

  .sharedoc_file_headerbar {
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .sharedoc_file_headerbar_left {
      h2 {
        font-weight: 500;
        font-size: 20px;
        line-height: 30px;
        text-transform: capitalize;
        color: #0D062D;
        margin: 0;
      }

      p {
        font-weight: 400;
        font-size: 13px;
        line-height: 20px;
        color: #383F49;
      }
    }

    .sharedoc_file_headerbar_right {
      button {
        background: #00BAFF;
        box-shadow: 0px 8px 20px rgba(0, 186, 255, 0.11);
        border-radius: 7px;
        font-weight: 500;
        font-size: 13px;
        line-height: 20px;
        text-align: center;
        text-transform: capitalize;
        color: #FFFFFF;
        padding: 7px 20px;
        border: 1px solid #00BAFF;

        img {
          margin: 0 5px 0 0;
        }

        &:hover {
          border: 1px solid #00BAFF;
          color: #00BAFF;
          background: transparent;

          img {
            filter: invert(1) brightness(0.5);
          }
        }
      }
    }

  }
}

.custom_choose_file_box {
  padding: 20px;

  .custom_choose_file {
    background: #F1F5FF;
    border: 1px dashed #5D4CF3;
    border-radius: 8px;
    text-align: center;
    padding: 30px;

    img {}

    p {
      font-weight: 400;
      font-size: 13px;
      line-height: 24px;
      text-align: center;
      color: #0F0F0F;

      span {
        font-weight: 400;
        font-size: 11px;
        line-height: 18px;
        text-align: center;
        color: #676767;
      }
    }
  }

  .pdf_bar {
    background: #FFFFFF;
    border: 1px solid #5D4CF3;
    border-radius: 8px;
    display: flex;
    padding: 10px;
    margin: 0 0 10px 0;

    .pdf_left_cont {
      margin: 0 10px 0 0;
    }

    .pdf_right_cont {
      width: 100%;

      .pdf_right_cont_box {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;

        p {
          font-weight: 500;
          font-size: 14px;
          line-height: 22px;
          letter-spacing: 0.3px;
          color: #121212;
          margin: 0;

          span {
            font-weight: 400;
            font-size: 12px;
            line-height: 22px;
            letter-spacing: 0.3px;
            color: #5B6D74;
            margin: 0 0 0 10px;
          }

        }

        img {}

      }

      .progress_bar_box {
        display: flex;
        width: 100%;
        justify-content: space-between;
        align-items: center;

        .progress_bar {
          background: #e2e2fc;
          border-radius: 200px;
          position: relative;
          height: 8px;
          max-width: 350px;
          width: 100%;

          span {
            background: #5D4CF3;
            border-radius: 200px;
            width: 80%;
            position: absolute;
            top: 0;
            left: 0;
            height: 8px;
            z-index: 9;
          }
        }
      }


    }
  }
}

.attached_file_box {
    padding: 20px ;
  h2 {
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    text-transform: capitalize;
    color: #0D062D;
    margin: 0;
  }

  p {
    font-weight: 400;
    font-size: 13px;
    line-height: 20px;
    color: #383F49;
    margin: 0 0 20px 0;

  }

  .attached_tablebox {
    background: #F1F5FF;
    border-radius: 8px;

    table {
      border-spacing: 0;
      width: 100%;
      thead{
        padding: 0 10px;
      }

      tr {
        th {
          background: #F1F5FF;
          border-radius: 8px;
          border-bottom: 1px solid #666;
          border-radius: 0;
          padding: 10px;
        }

        td {
          background: #F1F5FF;
          border-radius: 8px;
          padding: 10px;
          font-weight: 600;
          font-size: 12px;
          line-height: 22px;
          letter-spacing: 0.3px;
          color: #5B6D74;

          input {
            margin: 0 10px 0 0;
          }
        }
      }
    }
  }
}
