<div class="container comon-gap">
  <div class="row">
    <div class="col-sm-3">
<!--  -->
<app-sidebar></app-sidebar>
<!--  -->

</div>
    <div class="col-sm-9">
      <div class="tab-slider--container" [ngSwitch]="viewMode">
        <div id="tab1" class="tab-slider--body" *ngSwitchCase="'tab1'">
          <div class="projectsectiontop">
            <div class="leftsection">
              <h3>Projects / Dev pro 01</h3>
              <h2>Project Dashboard</h2>
            </div>
            <div class="right-section">
              <img src="../../../assets/images/icon-calender.svg" /> <span>Friday, 21st April </span>
              <button><img src="../../../assets/images/datedicon.svg" /></button>
            </div>
          </div>
          <div class="projectsectionmid">
            <div class="row">
              <div class="col-sm-6">
                <div class="row">
                  <div class="col-sm-6">
                    <div class="card-layout projectprogress">
                      <div class="projectprogresstop">
                        <div>
                          <h2>Project Progress</h2>
                          <p>Start from APR 10 -21, 2023</p>
                        </div>
                        <button>
                          <img src="../../../assets/images/datedicon.svg" />
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div id="tab2" class="tab-slider--body" *ngSwitchCase="'tab2'">
          <h2>Second Tab</h2>
          <p>Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Cras mattis
            consectetur purus sit amet fermentum. Nulla vitae elit libero, a pharetra augue. Cras mattis consectetur
            purus sit amet fermentum. Aenean eu leo
            quam. Pellentesque ornare sem lacinia quam venenatis vestibulum.</p>
        </div>
        <div id="tab3" class="tab-slider--body" *ngSwitchCase="'tab3'">
          <h2>Second Tab</h2>
          <p>Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Cras mattis
            consectetur purus sit amet fermentum. Nulla vitae elit libero, a pharetra augue. Cras mattis consectetur
            purus sit amet fermentum. Aenean eu leo
            quam. Pellentesque ornare sem lacinia quam venenatis vestibulum.</p>
        </div>
        <div id="tab4" class="tab-slider--body" *ngSwitchCase="'tab4'">
          <h2>Second Tab</h2>
          <p>Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Cras mattis
            consectetur purus sit amet fermentum. Nulla vitae elit libero, a pharetra augue. Cras mattis consectetur
            purus sit amet fermentum. Aenean eu leo
            quam. Pellentesque ornare sem lacinia quam venenatis vestibulum.</p>
        </div>
        <div id="tab5" class="tab-slider--body" *ngSwitchCase="'tab5'">
          <div class="projectsectiontop">
            <div class="leftsection">
              <h3>Projects / Dev pro 01</h3>
              <h2>Manage Documents</h2>
            </div>
            <div class="right-section">
              <button><img src="../../../assets/images/datedicon.svg" /></button>
            </div>
          </div>
          <div class="search_bar_box_bar">
            <div class="row">
              <div class="col-sm-8">
                <div class="search_bar_box_sec">
                  <div class="search_bar_box">
                    <button>
                      <mat-icon>search</mat-icon>
                    </button>
                    <input type="text" placeholder="Search" />
                  </div>
                  <div class="people_list">
                    <ul>
                      <li><img src="../../../assets/images/person1.svg" alt="" /></li>
                      <li><img src="../../../assets/images/person2.svg" alt="" /></li>
                      <li><img src="../../../assets/images/round_plus_icon.svg" alt="" /></li>
                    </ul>
                  </div>
                  <div class="select_bar">
                    <select>
                        <option>Epic</option>
                        <option>Epic</option>
                        <option>Epic</option>
                    </select>
                    <select>
                        <option>Type</option>
                        <option>Type</option>
                        <option>Type</option>
                    </select>
                    <select>
                        <option>Sprint</option>
                        <option>Sprint</option>
                        <option>Epic</option>
                    </select>
                  </div>

                </div>

              </div>
              <div class="col-sm-4">
                <div class="right_select_bar">
                    <p>Group By</p>
                    <select>
                        <option>None</option>
                        <option>None</option>
                        <option>None</option>
                    </select>
                    <button><img src="../../../assets/images/graff.svg" alt="" /> Reports</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
