<div class="container comon-gap">
    <div class="row">

        <!--  -->
        <div class="col-sm-3">
       <app-sidebar></app-sidebar>
       </div>

        <!--  -->
        <div class="col-sm-9">
            <div class="tab-slider--container" [ngSwitch]="viewMode">
                <div id="tab1" class="tab-slider--body" *ngSwitchCase="'tab1'">
                 <div class="projectsectiontop">
                    <div class="leftsection">
                        <h3>Projects / Dev pro 01</h3>
                     <h2>Project Dashboard</h2>
                    </div>
                    <div class="right-section">
                        <img src="../../../assets/images/icon-calender.svg"/> <span>Friday, 21st April </span> 
                       <button><img src="../../../assets/images/datedicon.svg"/></button>
                    </div>
                 </div>
                 <div class="projectsectionmid">
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="card-layout projectprogress">
                                        <div class="projectprogresstop">
                                            <div>
                                               <h2>Project Progress</h2>
                                               <p>Start from APR 10 -21, 2023</p>
                                            </div>
                                            <button>
                                                <img src="../../../assets/images/datedicon.svg"/>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                 </div>
                </div>
                <div id="tab2" class="tab-slider--body" *ngSwitchCase="'tab2'">
                  <h2>Second Tab</h2>
                  <p>Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Cras mattis consectetur purus sit amet fermentum. Nulla vitae elit libero, a pharetra augue. Cras mattis consectetur purus sit amet fermentum. Aenean eu leo
                    quam. Pellentesque ornare sem lacinia quam venenatis vestibulum.</p>
                </div>
                <div id="tab3" class="tab-slider--body" *ngSwitchCase="'tab3'">
                    <h2>Second Tab</h2>
                    <p>Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Cras mattis consectetur purus sit amet fermentum. Nulla vitae elit libero, a pharetra augue. Cras mattis consectetur purus sit amet fermentum. Aenean eu leo
                      quam. Pellentesque ornare sem lacinia quam venenatis vestibulum.</p>
                  </div>
                  <div id="tab4" class="tab-slider--body" *ngSwitchCase="'tab4'">
                    <h2>Second Tab</h2>
                    <p>Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Cras mattis consectetur purus sit amet fermentum. Nulla vitae elit libero, a pharetra augue. Cras mattis consectetur purus sit amet fermentum. Aenean eu leo
                      quam. Pellentesque ornare sem lacinia quam venenatis vestibulum.</p>
                  </div>
                  <div id="tab5" class="tab-slider--body" *ngSwitchCase="'tab5'">
                    <h2>Second Tab</h2>
                    <p>Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Cras mattis consectetur purus sit amet fermentum. Nulla vitae elit libero, a pharetra augue. Cras mattis consectetur purus sit amet fermentum. Aenean eu leo
                      quam. Pellentesque ornare sem lacinia quam venenatis vestibulum.</p>
                  </div>
              </div>
        </div>
    </div>
</div>
