@import '../../../assets/scss/config';

.tab-slider--body {
  padding-left: 29px;

  @media (max-width: 1199px) {
    padding-left: 0;
  }
}

.projectsectionmid {
  .projectprogress {
    padding: 28px;

    @media (max-width: 1199px) {
      padding: 15px;
    }

    .projectprogresstop {
      display: flex;
      flex-wrap: wrap;
      width: 100%;
      justify-content: space-between;

      div {
        h2 {
          font-weight: 500;
          font-size: 16px;
          letter-spacing: 0.3px;
          color: #121212;
          margin-bottom: 0px;
        }

        p {
          font-weight: 400;
          font-size: 12px;
          line-height: 12px;
          letter-spacing: 0.3px;
          color: #41475E;
          padding-top: 12px;
        }
      }

      .datediconone {
        background: none;
        margin-top: 10px;
      }
    }
  }

}

.project-progress-sectiontop {
  @media (max-width: 767px) {
    .col-md-6 {
      margin-bottom: 15px;
    }
  }
}

.progress-img-one {
  padding-top: 48px;
  display: flex;
  width: 100%;
  justify-content: center;
}

.total-project-section {
  padding: 15px 10px;
}

.project-right-section {
  ul {
    padding: 0px;
    margin: 0px;

    li {
      padding: 15px 25px;
      padding-right: 0px;
      border-radius: 10px;
      margin-bottom: 20px;
      display: flex;
      flex-wrap: nowrap;
      align-items: center;
      width: 100%;
      a{
        &:hover{
          background: transparent!important;
        }
      }

      @media (max-width: 1199px) {
        padding: 15px 10px;
      }

      &:hover {
        background: #3cb4fc !important;
        color: #fff !important;
        cursor: pointer !important;

        h2 {
          color: #fff !important;
        }

        p {
          color: #fff !important;
        }
      }

      &:last-child {
        margin-bottom: 0px;
      }

      figure {
        width: 58px;
        margin-right: 10px;

        @media (max-width: 1199px) {
          width: 40px;
        }
      }

      h2 {
        font-size: 15px;
        color: #000000;
        margin-bottom: 5px;
      }

      p {
        font-weight: 400;
        font-size: 10px;
        text-transform: capitalize;
        color: #383F49;
      }

      &:first-child {
        background: #E8E5FC;
      }

      &:nth-child(2) {
        background: #FFF7E3;
      }

      &:last-child {
        background: #DEF7E9;
      }
    }
  }
}

.asignmember {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  padding: 10px 20px;
  margin: 15px 0;
  height: 60px;

  button {
    background: transparent;
  }

  input {
    border: 0px;
    min-height: auto;
    height: 30px;
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    letter-spacing: 0.5px;
    color: #121212;

    &::placeholder {
      color: #121212;
    }
  }
}

.asignmembercontain {
  margin: 15px 0;
  padding: 7px 15px;
  background: #FFFFFF;
  box-shadow: 0px 4px 11px rgba(0, 186, 255, 0.05);
  border-radius: 10px;

  .leave-listing-table {
    height: 400px;
    overflow: auto;
    border-radius: 10px;
    box-shadow: 0px 4px 11px rgba(0, 186, 255, 0.05);

    table {
      width: 100%;
      border-spacing: 0;

      tr {
        position: relative;

        &::after {
          position: absolute;
          z-index: 9;
          background: #08A0F7;
          border-radius: 10px;
          width: 2px;
          height: 0px;
          content: "";
          top: 50%;
          left: 0;
          transform: translate(0%, -50%);
          transition: all ease-in 0.4s;
          visibility: hidden;
        }

        &:hover {
          &::after {
            height: 73px;
            transition: all ease-in 0.4s;
            visibility: visible;
          }
        }

        &:nth-child(odd) {
          background: #fff;
        }

        &:nth-child(even) {
          background: #F0F5FC;
        }
      }

      td {
        padding: 18px 15px;

        @media (max-width: 1199px) {
          padding: 15px;

          &:last-child {
            min-width: 40px;
          }
        }

        .leave-profile {
          display: flex;
          align-items: center;

          img {
            width: 36px;
            height: 36px;
            border-radius: 10px;
          }

          p {
            letter-spacing: 0.5px;
            color: #121212;
            opacity: 0.7;
            font-weight: 500;
            font-size: 13px;
            margin-left: 16px;
          }
        }
      }
    }
  }
}

.button-datted-icon {
  background: transparent;
}

.project-right-details {
  padding: 25px 30px;

  @media (max-width: 1199px) {
    padding: 15px;
  }

  &.top-space {
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .project-staus-details {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    padding-bottom: 15px;
  }

  h2 {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 0.3px;
    color: #121212;
    margin-bottom: 0px;
  }

  p {
    font-size: 12px;
    line-height: 1.3;
    color: #5A5A5A;

  }

  .editbutton {
    font-weight: 600;
    font-size: 12px;
    line-height: 1.5;
    text-transform: capitalize;
    color: #00BAFF;
    display: flex;
    align-items: center;
    background: transparent;

    svg {
      margin-right: 4px;
      color: #00BAFF;
    }

    &:hover {
      color: #5A5A5A;

      svg {
        fill: #5A5A5A !important;
      }
    }
  }
}

.inprogress-button {
  button {
    background: transparent;
    display: flex;
    align-items: center;
    font-size: 12px;
    text-transform: capitalize;
    color: #383F49;

    &:hover {
      color: #00BAFF;
    }

    span {
      display: inline-block;
      padding-left: 15px;
      padding-right: 15px;
    }
  }

  // ::ng-deep{
  //     .mat-form-field-appearance-fill .mat-form-field-flex{
  //         background: transparent;
  //     }
  //     .mat-form-field-wrapper{
  //         padding: 0px;
  //     }
  //     .mat-form-field-appearance-fill .mat-form-field-flex{
  //         padding: 0px;
  //     }
  //     .mat-form-field-infix{
  //         border-top: 0px;
  //     }
  //     .mat-form-field-underline{
  //         display: none;
  //     }
  //     .inprogress-button .mat-form-field-infix{
  //         border-top: 0px;
  //         padding: 0;
  //         height: auto;
  //         margin: 0;
  //     }
  // }

}

.add-commit-m {
  h2 {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.2;
    text-transform: capitalize;
    color: #0D062D;
    margin-bottom: 15px;
  }

  .textareaone {
    border: 1px solid #d3d2d8;
    border-radius: 4px;
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
    text-transform: capitalize;
    color: #787486;
    text-decoration: none;
    height: 74px;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.2;
    text-transform: capitalize;
    color: #787486;
    padding: 15px;
  }
}

.save-button {
  display: flex;
  justify-content: flex-end;
  margin-top: 15px;

  &.top-space {
    margin-top: 0px;
  }

  button {
    background: #00BAFF;
    box-shadow: 0px 8px 20px rgba(0, 186, 255, 0.11);
    border-radius: 7px;
    min-width: 151px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 13px;
    text-align: center;
    text-transform: capitalize;
    color: #FFFFFF;
    padding: 10px 15px;

    &:hover {
      background: #121212;
    }
  }
}

.hour-history-section {
  .leave-listing-table {
    height: 240px;
    overflow: auto;
    border-radius: 10px;
    box-shadow: 0px 4px 11px rgba(0, 186, 255, 0.05);

    table {
      width: 100%;
      border-spacing: 0;

      tr {
        position: relative;

        td {
          border-bottom: 1px solid rgb(0 0 0 / 8%);
          padding-bottom: 15px;
          padding-top: 15px;

          ::ng-deep {
            p {
              margin-bottom: 0px;
              font-size: 12px;
              line-height: 1.2;

              letter-spacing: 0.5px;
              color: #41475E;

              strong {
                display: inline-block;
                font-weight: 600;
                font-size: 12px;
                letter-spacing: 0.3px;
                color: #41475E;
              }

            }
          }
        }

        &::after {
          position: absolute;
          z-index: 9;
          background: #08A0F7;
          border-radius: 10px;
          width: 2px;
          height: 0px;
          content: "";
          top: 50%;
          left: 0;
          transform: translate(0%, -50%);
          transition: all ease-in 0.4s;
          visibility: hidden;
        }

        &:hover {
          &::after {
            height: 73px;
            transition: all ease-in 0.4s;
            visibility: visible;
          }
        }

        &:nth-child(odd) {
          background: #fff;

        }

        &:nth-child(even) {
          background: #fff;
        }
      }

      td {
        padding: 5px 5px;

        .leave-profile {
          display: flex;
          align-items: center;

          img {
            width: 28px;
            height: 28px;
            border-radius: 50%;
          }

          p {
            letter-spacing: 0.5px;
            color: #121212;
            opacity: 0.7;
            font-weight: 500;
            font-size: 13px;
            margin-left: 16px;
          }
        }
      }
    }
  }
}

.roadmap-right-section {
  ul {
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: center;

    li {
      font-weight: 600;
      font-size: 13px;
      line-height: 1.2;
      text-transform: capitalize;
      color: #5B6D74;
      padding: 0 15px;

      button {
        img {
          margin: 0 5px;
        }

        align-items: center;
        background: transparent;

        &:hover {
          color: #00BAFF;
        }
      }
    }
  }
}

.roadmapbottomsection {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-between;

  .leftsectionone {
    ul {
      display: flex;
      flex-wrap: wrap;
      width: 100%;

      li {
        padding-right: 20px;
        position: relative;

        input {
          border-radius: 8px;
          background: #FFFFFF;
          border: 1px solid #EBEEF2;
          box-shadow: 0px 1px 3px rgba(96, 108, 128, 0.05);
          border-radius: 8px;
          width: 186px;
          height: 36px;
          font-style: normal;
          font-weight: 500;
          font-size: 12px;
          color: #98A2B3;
          height: 30px;
          padding-left: 40px;
          min-height: 36px;
          padding-left: 45px;
        }

        .searchbutton {
          position: absolute;
          left: 10px;
          top: 5px;
          background: transparent;
        }

        &.add-section {
          button {
            background: transparent;
            padding: 0px;

            &:nth-child(2) {
              margin-left: -15px;
            }

            &:last-child {
              margin-left: 15px;
            }

          }
        }

        &.status-categorie {
          button {
            background: rgba(212, 231, 240, 0.7);
            border-radius: 8px;
            padding: 10px 15px;
            font-style: normal;
            font-weight: 500;
            font-size: 12px;
            text-transform: capitalize;
            color: #5B6D74;
            display: flex;
            align-items: center;

            img {
              margin-left: 15px;
            }

            &:hover {
              background: #00BAFF;
              color: #fff;
            }
          }
        }

        &.epicnew {
          button {
            background: none;
            padding: 10px 15px;
            font-style: normal;
            font-weight: 500;
            font-size: 12px;
            text-transform: capitalize;
            color: #5B6D74;
            display: flex;
            align-items: center;

            img {
              margin-left: 15px;
            }

          }
        }
      }
    }
  }
}

.view-seting {
  display: flex;
  justify-content: flex-end;
  align-items: center;

  &.status-categorie {
    button {
      // background: rgba(86, 164, 200, 0.454);
      background: rgba(212, 231, 240, 0.7);
      border-radius: 8px;
      padding: 10px 15px;
      font-style: normal;
      font-weight: 500;
      font-size: 12px;
      text-transform: capitalize;
      color: #5B6D74;
      display: flex;
      align-items: center;

      img {
        margin-right: 15px;
      }

      &:hover {
        background: #00BAFF;
        color: #fff;

        img {
          filter: brightness(0) invert(1);
        }
      }
    }
  }
}

.min-height-one5 {
  min-height: 350px;
}

.month-year-main {
  display: flex;
  flex-wrap: wrap;
  width: 100%;

  .month-year-left {
    width: 30%;
    // display: flex;
    // flex-wrap: wrap;
    border-right: 1px solid #F5F6F7;

    h2 {
      font-size: 12px;
      color: #6B7A99;
      margin-bottom: 0px;

      &.topsapce {
        padding: 28px 30px;
      }
    }

    h3 {
      font-size: 12px;
      color: #6B7A99;
      padding: 0px 30px;
    }
  }

  .month-year-right {
    width: 70%;
    display: flex;
  }
}



.search_bar_box_bar {
  .search_bar_box_sec {
    display: flex;
    align-items: center;

    .search_bar_box {
      position: relative;
      max-width: 186px;
      width: 100%;

      button {
        position: absolute;
        left: 10px;
        top: 6px;
        background: transparent;
        padding: 0;

        mat-icon {
          color: #C7CED9;
        }
      }

      input {
        background: #FFFFFF;
        border: 1px solid #EBEEF2;
        box-shadow: 0px 1px 3px rgba(96, 108, 128, 0.05);
        border-radius: 8px;
        padding: 0 0 0 40px;
        height: 36px;
        min-height: auto;
        line-height: 1.5;
        font-weight: 500;
        font-size: 12px;
        line-height: 20px;
        color: #98A2B3;

        &::placeholder {
          color: #98A2B3;
        }
      }
    }

    .people_list {
      display: flex;
      align-items: center;
      margin: 0 0 0 20px;
      max-width: 150px;
      width: 100%;

      ul {
        display: flex;
        position: relative;
        margin: 0;

        li {
          margin: 0 -5px;
          display: flex;

          &:last-child {
            background: #FFFFFF;
            border: 1px dashed #EBEEF2;
            border-radius: 48px;
            position: absolute;
            right: -43px;
            top: 0px;
            padding: 7px;

          }
        }
      }


    }

    .select_bar {
      display: flex;

      @media screen and (max-width: 767px) {
        margin: 10px 0 0 0;
      }

      select {
        height: 36px;
        line-height: 1.5;
        min-height: 36px;
        border-radius: 8px;
        border: none;
        font-weight: 500;
        font-size: 12px;
        line-height: 26px;
        text-transform: capitalize;
        color: #5B6D74;
        padding: 5px 20px 5px 15px;
        max-width: 200px;
        width: 100%;
        background-size: 9px;
        margin: 0 20px 0 0;

        &:first-child {
          background-color: rgba(86, 164, 200, 0.1);
        }
      }
    }
  }
}

.right_select_bar {
  display: flex;
  align-items: center;
  justify-content: flex-end;

  @media screen and (max-width: 767px) {
    justify-content: flex-start;
    margin: 10px 0 0 0;
  }

  p {
    margin: 0 10px 0 0;
  }

  select {
    height: 36px;
    line-height: 1.5;
    min-height: 36px;
    border-radius: 8px;
    border: none;
    font-weight: 500;
    font-size: 12px;
    line-height: 26px;
    text-transform: capitalize;
    color: #5B6D74;
    padding: 5px 30px 5px 15px;
    background-size: 9px;
    margin: 0 20px 0 0;
    background-color: rgba(86, 164, 200, 0.1);
  }

  button {
    font-weight: 500;
    font-size: 12px;
    line-height: 26px;
    text-transform: capitalize;
    color: #5B6D74;
    background-color: rgba(86, 164, 200, 0.1);
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px 10px;

    img {
      margin: 0 5px 0 0;
    }
  }
}

.project_topic_bar_sec {
  background: #FFFFFF;
  border-radius: 6px;
  margin: 30px 0;
  padding: 20px;

  .project_topic_bar {
    display: flex;
    align-items: center;
    margin: 0 10px 0 0;
    margin: 0 0 20px 0;

    .left_box {
      img {
        margin: 0 15px 0px 0;
      }
    }

    .right_box {
      h2 {
        font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        text-transform: capitalize;
        color: #092C38;
        margin: 0;
      }

      h3 {
        font-weight: 400;
        font-size: 13px;
        line-height: 1.5;
        text-transform: capitalize;
        color: #383F49;
        margin: 0;
      }
    }
  }

  .project_cont {
    h3 {
      margin: 0 0 5px 0;
      font-family: 'Poppins', sans-serif !important;
      font-weight: 500;
      font-size: 20px;
      line-height: 30px;
      text-transform: capitalize;
      color: #0D062D;

    }
  }

  .button_bar {
    display: flex;

    .add_btn {
      background: #00BAFF;
      box-shadow: 0px 8px 20px rgba(0, 186, 255, 0.11);
      border-radius: 7px;
      font-weight: 500;
      font-size: 13px;
      line-height: 20px;
      text-align: center;
      text-transform: capitalize;
      color: #FFFFFF;
      padding: 10px 20px;
      border: 1px solid #00BAFF;
      width: 151px;
      text-align: center;
      align-items: center;
      justify-content: center;

      &:hover {
        border: 1px solid #00BAFF;
        color: #00BAFF;
        background: transparent;
      }
    }

    .edit_btn {
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: transparent;
      font-weight: 500;
      font-size: 13px;
      line-height: 20px;
      text-align: center;
      text-transform: capitalize;
      color: #5B6D74;

      &:hover {
        color: #00BAFF;
      }

      mat-icon {
        font-size: 12px;
        margin: 0;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
  }
}

.sharedoc {
  background: #FFFFFF;
  border-radius: 6px;
  height: 500px;
  overflow-y: auto;
  margin: 0 0 30px 0;

  & .leave-listing-table {
    height: 400px;
    overflow: auto;
    border-radius: 10px;
    box-shadow: 0px 4px 11px rgba(0, 186, 255, 0.05);
  }

  .sharedoc_file_headerbar {
    padding: 20px 20px 0 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .sharedoc_file_headerbar_left {
      h2 {
        font-weight: 500;
        font-size: 20px;
        line-height: 30px;
        text-transform: capitalize;
        color: #0D062D;
        margin: 0;
      }

      p {
        font-weight: 400;
        font-size: 13px;
        line-height: 20px;
        color: #383F49;
      }
    }

    .sharedoc_file_headerbar_right {
      button {
        background: #00BAFF;
        box-shadow: 0px 8px 20px rgba(0, 186, 255, 0.11);
        border-radius: 7px;
        font-weight: 500;
        font-size: 13px;
        line-height: 20px;
        text-align: center;
        text-transform: capitalize;
        color: #FFFFFF;
        padding: 7px 20px;
        border: 1px solid #00BAFF;

        img {
          margin: 0 5px 0 0;
        }

        &:hover {
          border: 1px solid #00BAFF;
          color: #00BAFF;
          background: transparent;

          img {
            filter: invert(1) brightness(0.5);
          }
        }
      }
    }

  }
}

.custom_choose_file_box {
  padding: 20px;

  .custom_choose_file {
    background: #F1F5FF;
    border: 1px dashed #5D4CF3;
    border-radius: 8px;
    text-align: center;
    padding: 30px;

    img {}

    p {
      font-weight: 400;
      font-size: 13px;
      line-height: 24px;
      text-align: center;
      color: #0F0F0F;

      span {
        font-weight: 400;
        font-size: 11px;
        line-height: 18px;
        text-align: center;
        color: #676767;
      }
    }
  }

  .pdf_bar {
    background: #FFFFFF;
    border: 1px solid #5D4CF3;
    border-radius: 8px;
    display: flex;
    padding: 10px;
    margin: 0 0 10px 0;

    .pdf_left_cont {
      margin: 0 10px 0 0;
    }

    .pdf_right_cont {
      width: 100%;

      .pdf_right_cont_box {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;

        p {
          font-weight: 500;
          font-size: 14px;
          line-height: 22px;
          letter-spacing: 0.3px;
          color: #121212;
          margin: 0;

          span {
            font-weight: 400;
            font-size: 12px;
            line-height: 22px;
            letter-spacing: 0.3px;
            color: #5B6D74;
            margin: 0 0 0 10px;
          }

        }

        img {}

      }

      .progress_bar_box {
        display: flex;
        width: 100%;
        justify-content: space-between;
        align-items: center;

        .progress_bar {
          background: #e2e2fc;
          border-radius: 200px;
          position: relative;
          height: 8px;
          max-width: 350px;
          width: 100%;

          span {
            background: #5D4CF3;
            border-radius: 200px;
            width: 80%;
            position: absolute;
            top: 0;
            left: 0;
            height: 8px;
            z-index: 9;
          }
        }
      }


    }
  }
}

.attached_file_box {
  padding: 20px;

  h2 {
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    text-transform: capitalize;
    color: #0D062D;
    margin: 0;
  }

  p {
    font-weight: 400;
    font-size: 13px;
    line-height: 20px;
    color: #383F49;
    margin: 0 0 20px 0;

  }

  .attached_tablebox {
    background: #F1F5FF;
    border-radius: 8px;

    table {
      border-spacing: 0;
      width: 100%;

      thead {
        padding: 0 10px;
      }

      tr {
        th {
          background: #F1F5FF;
          border-radius: 8px;
          border-bottom: 1px solid #d4d4d4;
          border-radius: 0;
          padding: 15px 10px;

          &:first-child {
            text-align: left;
            max-width: 300px;
          }

          &:last-child {
            text-align: left;
          }

          input {
            margin: 0 10px 0 0;
          }
        }

        td {
          background: #F1F5FF;
          border-radius: 8px;
          padding: 5px 10px 0;
          font-weight: 600;
          font-size: 12px;
          line-height: 22px;
          letter-spacing: 0.3px;
          color: #5B6D74;
          text-align: center;

          &:first-child {
            max-width: 300px;
          }

          .checkbox_bar {
            display: flex;
            align-items: center;

            p {
              margin: 0;
            }

            img {
              margin: 0 5px 0 0;
            }
          }

          .avatar_box_bar {
            display: flex;
            align-items: center;
            justify-content: space-between;

            .edit_delete_bar {
              img {
                margin: 0 5px;
              }
            }
          }

          .avatar_box {
            display: flex;
            align-items: center;
            justify-content: space-between;

            img {
              margin: 0 5px 0 0;
            }

            .avatar_box_right {
              p {
                margin: 0;
                line-height: 1;
                text-align: left;
              }

              span {
                line-height: 1;
                font-weight: 500;
                font-size: 10px;
                line-height: 22px;
                letter-spacing: 0.3px;
                color: #2C81E7;
              }
            }
          }

          input {
            margin: 0 10px 0 0;
          }
        }
      }
    }
  }
}


.tab-slider--nav {
  border: 2px solid #EDEFF2;
  border-radius: 20px;
  padding: 15px;

  li {
    background: #FFFFFF;
    box-shadow: 0px 2px 5px rgba(38, 51, 77, 0.03);
    border-radius: 10px;
    display: flex;
    align-items: center;
    width: 100%;
    height: 60px;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    color: #7D8FB3;
    padding: 15px;
    margin-bottom: 15px;
    cursor: pointer;

    figure {
      width: 30px;
      height: 30px;
      display: flex;
      align-items: center;
      margin-right: 30px;
      justify-content: center;
    }

    &.active {
      background: #00BAFF;
      color: #fff;

      img {

        filter: brightness(0) invert(1);


      }
    }

    &:hover {
      background: #00BAFF;
      color: #fff;

      img {

        filter: brightness(0) invert(1);


      }
    }
  }
}

.projectsectiontop {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  margin: 0 0 20px 0;

  @media screen and (max-width: 767px) {
    flex-wrap: wrap;
    margin: 10px 0;
  }

  h3 {
    margin: 0;
    line-height: 1.5;
    font-weight: 400;
    font-size: 12px;
    text-transform: capitalize;
    color: #5B6D74;

  }

  h2 {
    font-weight: 500;
    font-size: 24px;
    line-height: 36px;


    text-transform: capitalize;

    color: #000000;
  }

  .right-section {
    display: flex;
    align-items: center;

    img {
      margin-right: 10px;
    }

    span {
      font-size: 1.4rem;
      font-weight: 500;
      color: $textColor
    }

    button {
      background-color: transparent;
      margin-left: 10px;
    }
  }
}

.edit_icon {
  width: 15px;
  height: 15px;
}