<main>
<div class="container">
  <div class="row">
    <div class="col-md-3">
      <!--  -->
      <app-sidebar></app-sidebar>
      <!--  -->
    </div>
    <div class="col-md-9">
      <div class="projectsectiontop">
        <div class="leftsection">
          <h3>Projects / Dev pro 01</h3>
          <h2>Sprints</h2>
        </div>
        <div class="right-section">
          <button><img src="./assets/images/datedicon.svg" /></button>
        </div>
      </div>
      <div class="search_bar_box_bar">
        <div class="row">
          <div class="col-sm-8">
            <div class="search_bar_box_sec">
              <div class="search_bar_box">
                <button>
                  <mat-icon>search</mat-icon>
                </button>
                <input type="text" placeholder="Search" />
              </div>
              <div class="people_list">
                <ul>
                  <li>
                    <img src="../../../assets/images/person1.svg" alt="" />
                  </li>
                  <li>
                    <img src="../../../assets/images/person2.svg" alt="" />
                  </li>
                  <li>
                    <img
                      src="../../../assets/images/round_plus_icon.svg"
                      alt=""
                    />
                  </li>
                </ul>
              </div>
              <div class="select_bar">
                <select>
                  <option>Epic</option>
                  <option>Epic</option>
                  <option>Epic</option>
                </select>
                <select>
                  <option>Type</option>
                  <option>Type</option>
                  <option>Type</option>
                </select>
                <select>
                  <option>Sprint</option>
                  <option>Sprint</option>
                  <option>Epic</option>
                </select>
              </div>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="right_select_bar">
              <p>Group By</p>
              <select>
                <option>None</option>
                <option>None</option>
                <option>None</option>
              </select>
              <button>
                <img src="../../../assets/images/graff.svg" alt="" /> Reports
              </button>
            </div>
          </div>
        </div>
      </div>
      <div class="sprint-btm">
        <div class="row">
          <div class="col-md-4 col-xs-12 cus-col">
            <div class="sprint-wrap">
              <div class="sprnt-hdr">
                <h4>Inactive <span>2</span></h4>
                <div class="spnt-hdr-rgt">
                  <button><img src="./assets/images/datedicon.svg" /></button>
                </div>
              </div>
              <div class="dpo-spnt">
                <mat-accordion>
                  <mat-expansion-panel
                    (opened)="panelOpenState = true"
                    (closed)="panelOpenState = false"
                    [expanded]=true
                  >
                    <mat-expansion-panel-header>
                      <mat-panel-title>
                        DPO Sprint 1
                        <span> (3 Tasks) </span>
                      </mat-panel-title>
                    </mat-expansion-panel-header>
                    <div class="project-item" >
                      <div class="card-layout">
                        <div class="project-status">
                          <div class="project-sts-wrp">
                            <div class="project-icon">
                              <img src="./assets/images/sutecase.svg" alt="" />
                            </div>
                            <div class="project-description" (click)="sprintdetails()"> 
                              <h4>Dev pro 01</h4>
                              <p>Team-managed software</p>
                            </div>
                          </div>

                          <div class="project-status-tag">
                            <a class="status-tag" (click)="assignTask()" >Assign Task</a>
                          </div>
                        </div>

                        <p class="sts-p">
                          Cras non nisl vel mi elementum convallis at non est.
                          Fusce et placerat tortor.
                        </p>

                        <div class="project-members">
                          <div class="member-group">
                            <ul>
                              <li>
                                <button>
                                  <img
                                    src="assets/images/homeAvatar1.png"
                                    alt=""
                                  />
                                </button>
                              </li>
                              <li>
                                <button>
                                  <img
                                    src="assets/images/homeAvatar2.png"
                                    alt=""
                                  />
                                </button>
                              </li>
                              <li><button>+5</button></li>
                            </ul>

                            <button>
                              <img src="assets/images/plusIcon.svg" alt="" />
                            </button>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="project-item">
                      <div class="card-layout">
                        <div class="project-status">
                          <div class="project-sts-wrp">
                            <div class="project-icon">
                              <img src="./assets/images/sutecase.svg" alt="" />
                            </div>
                            <div class="project-description">
                              <h4>Dev pro 01</h4>
                              <p>Team-managed software</p>
                            </div>
                          </div>

                          <div class="project-status-tag">
                            <a class="status-tag">Assign Task</a>
                          </div>
                        </div>

                        <p class="sts-p">
                          Cras non nisl vel mi elementum convallis at non est.
                          Fusce et placerat tortor.
                        </p>

                        <div class="project-members">
                          <div class="member-group">
                            <ul>
                              <li>
                                <button>
                                  <img
                                    src="assets/images/homeAvatar1.png"
                                    alt=""
                                  />
                                </button>
                              </li>
                              <li>
                                <button>
                                  <img
                                    src="assets/images/homeAvatar2.png"
                                    alt=""
                                  />
                                </button>
                              </li>
                              <li><button>+5</button></li>
                            </ul>

                            <button>
                              <img src="assets/images/plusIcon.svg" alt="" />
                            </button>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="project-item">
                      <div class="card-layout">
                        <div class="project-status">
                          <div class="project-sts-wrp">
                            <div class="project-icon">
                              <img src="./assets/images/sutecase.svg" alt="" />
                            </div>
                            <div class="project-description">
                              <h4>Dev pro 01</h4>
                              <p>Team-managed software</p>
                            </div>
                          </div>

                          <div class="project-status-tag">
                            <a class="status-tag">Assign Task</a>
                          </div>
                        </div>

                        <p class="sts-p">
                          Cras non nisl vel mi elementum convallis at non est.
                          Fusce et placerat tortor.
                        </p>

                        <div class="project-members">
                          <div class="member-group">
                            <ul>
                              <li>
                                <button>
                                  <img
                                    src="assets/images/homeAvatar1.png"
                                    alt=""
                                  />
                                </button>
                              </li>
                              <li>
                                <button>
                                  <img
                                    src="assets/images/homeAvatar2.png"
                                    alt=""
                                  />
                                </button>
                              </li>
                              <li><button>+5</button></li>
                            </ul>

                            <button>
                              <img src="assets/images/plusIcon.svg" alt="" />
                            </button>
                          </div>
                        </div>
                      </div>
                    </div>
                  </mat-expansion-panel>
                </mat-accordion>
                <mat-accordion>
                  <mat-expansion-panel
                    (opened)="panelOpenState = true"
                    (closed)="panelOpenState = false"
                  >
                    <mat-expansion-panel-header>
                      <mat-panel-title> DPO Sprint 2      <span> (2 Tasks) </span></mat-panel-title>
                    </mat-expansion-panel-header>
                    <div class="project-item">
                      <div class="card-layout">
                        <div class="project-status">
                          <div class="project-sts-wrp">
                            <div class="project-icon">
                              <img src="./assets/images/sutecase.svg" alt="" />
                            </div>
                            <div class="project-description">
                              <h4>Dev pro 01</h4>
                              <p>Team-managed software</p>
                            </div>
                          </div>

                          <div class="project-status-tag">
                            <a class="status-tag">Assign Task</a>
                          </div>
                        </div>

                        <p class="sts-p">
                          Cras non nisl vel mi elementum convallis at non est.
                          Fusce et placerat tortor.
                        </p>

                        <div class="project-members">
                          <div class="member-group">
                            <ul>
                              <li>
                                <button>
                                  <img
                                    src="assets/images/homeAvatar1.png"
                                    alt=""
                                  />
                                </button>
                              </li>
                              <li>
                                <button>
                                  <img
                                    src="assets/images/homeAvatar2.png"
                                    alt=""
                                  />
                                </button>
                              </li>
                              <li><button>+5</button></li>
                            </ul>

                            <button>
                              <img src="assets/images/plusIcon.svg" alt="" />
                            </button>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="project-item">
                      <div class="card-layout">
                        <div class="project-status">
                          <div class="project-sts-wrp">
                            <div class="project-icon">
                              <img src="./assets/images/sutecase.svg" alt="" />
                            </div>
                            <div class="project-description">
                              <h4>Dev pro 01</h4>
                              <p>Team-managed software</p>
                            </div>
                          </div>

                          <div class="project-status-tag">
                            <a class="status-tag">Assign Task</a>
                          </div>
                        </div>

                        <p class="sts-p">
                          Cras non nisl vel mi elementum convallis at non est.
                          Fusce et placerat tortor.
                        </p>

                        <div class="project-members">
                          <div class="member-group">
                            <ul>
                              <li>
                                <button>
                                  <img
                                    src="assets/images/homeAvatar1.png"
                                    alt=""
                                  />
                                </button>
                              </li>
                              <li>
                                <button>
                                  <img
                                    src="assets/images/homeAvatar2.png"
                                    alt=""
                                  />
                                </button>
                              </li>
                              <li><button>+5</button></li>
                            </ul>

                            <button>
                              <img src="assets/images/plusIcon.svg" alt="" />
                            </button>
                          </div>
                        </div>
                      </div>
                    </div>
                  </mat-expansion-panel>
                </mat-accordion>
                <mat-accordion>
                  <mat-expansion-panel
                    (opened)="panelOpenState = true"
                    (closed)="panelOpenState = false"
                  >
                    <mat-expansion-panel-header>
                      <mat-panel-title> DPO Sprint 3      <span> (1 Tasks) </span></mat-panel-title>
                    </mat-expansion-panel-header>
                    <div class="project-item">
                      <div class="card-layout">
                        <div class="project-status">
                          <div class="project-sts-wrp">
                            <div class="project-icon">
                              <img src="./assets/images/sutecase.svg" alt="" />
                            </div>
                            <div class="project-description">
                              <h4>Dev pro 01</h4>
                              <p>Team-managed software</p>
                            </div>
                          </div>

                          <div class="project-status-tag">
                            <a class="status-tag">Assign Task</a>
                          </div>
                        </div>

                        <p class="sts-p">
                          Cras non nisl vel mi elementum convallis at non est.
                          Fusce et placerat tortor.
                        </p>

                        <div class="project-members">
                          <div class="member-group">
                            <ul>
                              <li>
                                <button>
                                  <img
                                    src="assets/images/homeAvatar1.png"
                                    alt=""
                                  />
                                </button>
                              </li>
                              <li>
                                <button>
                                  <img
                                    src="assets/images/homeAvatar2.png"
                                    alt=""
                                  />
                                </button>
                              </li>
                              <li><button>+5</button></li>
                            </ul>

                            <button>
                              <img src="assets/images/plusIcon.svg" alt="" />
                            </button>
                          </div>
                        </div>
                      </div>
                    </div>
                
                  </mat-expansion-panel>
                </mat-accordion>
              </div>
            </div>
          </div>
          <div class="col-md-4 col-xs-12 cus-col">
            <div class="sprint-wrap">
              <div class="sprnt-hdr">
                <h4>Active <span>1</span></h4>
                <div class="spnt-hdr-rgt">
                  <button><img src="./assets/images/datedicon.svg" /></button>
                </div>
              </div>
              <div class="dpo-spnt">
             
             
                <mat-accordion>
                  <mat-expansion-panel
                    (opened)="panelOpenState = true"
                    (closed)="panelOpenState = false"
                    [expanded]=true
                  >
                    <mat-expansion-panel-header>
                      <mat-panel-title> DPO Sprint 4      <span> (3 Tasks) </span></mat-panel-title>
                    </mat-expansion-panel-header>
                    <div class="project-item">
                      <div class="card-layout">
                        <div class="project-status">
                          <div class="project-sts-wrp">
                            <div class="project-icon">
                              <img src="./assets/images/sutecase.svg" alt="" />
                            </div>
                            <div class="project-description">
                              <h4>Dev pro 01</h4>
                              <p>Team-managed software</p>
                            </div>
                          </div>

                          <div class="project-status-tag">
                            <a class="status-tag">Assign Task</a>
                          </div>
                        </div>

                        <p class="sts-p">
                          Cras non nisl vel mi elementum convallis at non est.
                          Fusce et placerat tortor.
                        </p>

                        <div class="project-members">
                          <div class="member-group">
                            <ul>
                              <li>
                                <button>
                                  <img
                                    src="assets/images/homeAvatar1.png"
                                    alt=""
                                  />
                                </button>
                              </li>
                              <li>
                                <button>
                                  <img
                                    src="assets/images/homeAvatar2.png"
                                    alt=""
                                  />
                                </button>
                              </li>
                              <li><button>+5</button></li>
                            </ul>

                            <button>
                              <img src="assets/images/plusIcon.svg" alt="" />
                            </button>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="project-item">
                      <div class="card-layout">
                        <div class="project-status">
                          <div class="project-sts-wrp">
                            <div class="project-icon">
                              <img src="./assets/images/sutecase.svg" alt="" />
                            </div>
                            <div class="project-description">
                              <h4>Dev pro 01</h4>
                              <p>Team-managed software</p>
                            </div>
                          </div>

                          <div class="project-status-tag">
                            <a class="status-tag">Assign Task</a>
                          </div>
                        </div>

                        <p class="sts-p">
                          Cras non nisl vel mi elementum convallis at non est.
                          Fusce et placerat tortor.
                        </p>

                        <div class="project-members">
                          <div class="member-group">
                            <ul>
                              <li>
                                <button>
                                  <img
                                    src="assets/images/homeAvatar1.png"
                                    alt=""
                                  />
                                </button>
                              </li>
                              <li>
                                <button>
                                  <img
                                    src="assets/images/homeAvatar2.png"
                                    alt=""
                                  />
                                </button>
                              </li>
                              <li><button>+5</button></li>
                            </ul>

                            <button>
                              <img src="assets/images/plusIcon.svg" alt="" />
                            </button>
                          </div>
                        </div>
                      </div>
                    </div>
                  </mat-expansion-panel>
                </mat-accordion>
              </div>
            </div>
          </div>
          <div class="col-md-3 col-xs-12 cus-col">
            <div class="sprint-wrap">
              <div class="sprnt-hdr">
                <h4>Close <span>3</span></h4>
                <div class="spnt-hdr-rgt">
                  <button><img src="./assets/images/datedicon.svg" /></button>
                </div>
              </div>
              <div class="dpo-spnt">
                <mat-accordion>
                  <mat-expansion-panel
                    (opened)="panelOpenState = true"
                    (closed)="panelOpenState = false"
                  >
                    <mat-expansion-panel-header>
                      <mat-panel-title>
                        DPO Sprint 5
                        <span> (10 Tasks) </span>
                      </mat-panel-title>
                    </mat-expansion-panel-header>
                    <div class="project-item">
                      <div class="card-layout">
                        <div class="project-status">
                          <div class="project-sts-wrp">
                            <div class="project-icon">
                              <img src="./assets/images/sutecase.svg" alt="" />
                            </div>
                            <div class="project-description">
                              <h4>Dev pro 01</h4>
                              <p>Team-managed software</p>
                            </div>
                          </div>

                          <div class="project-status-tag">
                            <a class="status-tag">Assign Task</a>
                          </div>
                        </div>

                        <p class="sts-p">
                          Cras non nisl vel mi elementum convallis at non est.
                          Fusce et placerat tortor.
                        </p>

                        <div class="project-members">
                          <div class="member-group">
                            <ul>
                              <li>
                                <button>
                                  <img
                                    src="assets/images/homeAvatar1.png"
                                    alt=""
                                  />
                                </button>
                              </li>
                              <li>
                                <button>
                                  <img
                                    src="assets/images/homeAvatar2.png"
                                    alt=""
                                  />
                                </button>
                              </li>
                              <li><button>+5</button></li>
                            </ul>

                            <button>
                              <img src="assets/images/plusIcon.svg" alt="" />
                            </button>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="project-item">
                      <div class="card-layout">
                        <div class="project-status">
                          <div class="project-sts-wrp">
                            <div class="project-icon">
                              <img src="./assets/images/sutecase.svg" alt="" />
                            </div>
                            <div class="project-description">
                              <h4>Dev pro 01</h4>
                              <p>Team-managed software</p>
                            </div>
                          </div>

                          <div class="project-status-tag">
                            <a class="status-tag">Assign Task</a>
                          </div>
                        </div>

                        <p class="sts-p">
                          Cras non nisl vel mi elementum convallis at non est.
                          Fusce et placerat tortor.
                        </p>

                        <div class="project-members">
                          <div class="member-group">
                            <ul>
                              <li>
                                <button>
                                  <img
                                    src="assets/images/homeAvatar1.png"
                                    alt=""
                                  />
                                </button>
                              </li>
                              <li>
                                <button>
                                  <img
                                    src="assets/images/homeAvatar2.png"
                                    alt=""
                                  />
                                </button>
                              </li>
                              <li><button>+5</button></li>
                            </ul>

                            <button>
                              <img src="assets/images/plusIcon.svg" alt="" />
                            </button>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="project-item">
                      <div class="card-layout">
                        <div class="project-status">
                          <div class="project-sts-wrp">
                            <div class="project-icon">
                              <img src="./assets/images/sutecase.svg" alt="" />
                            </div>
                            <div class="project-description">
                              <h4>Dev pro 01</h4>
                              <p>Team-managed software</p>
                            </div>
                          </div>

                          <div class="project-status-tag">
                            <a class="status-tag">Assign Task</a>
                          </div>
                        </div>

                        <p class="sts-p">
                          Cras non nisl vel mi elementum convallis at non est.
                          Fusce et placerat tortor.
                        </p>

                        <div class="project-members">
                          <div class="member-group">
                            <ul>
                              <li>
                                <button>
                                  <img
                                    src="assets/images/homeAvatar1.png"
                                    alt=""
                                  />
                                </button>
                              </li>
                              <li>
                                <button>
                                  <img
                                    src="assets/images/homeAvatar2.png"
                                    alt=""
                                  />
                                </button>
                              </li>
                              <li><button>+5</button></li>
                            </ul>

                            <button>
                              <img src="assets/images/plusIcon.svg" alt="" />
                            </button>
                          </div>
                        </div>
                      </div>
                    </div>
                  </mat-expansion-panel>
                </mat-accordion>
                <mat-accordion>
                  <mat-expansion-panel
                    (opened)="panelOpenState = true"
                    (closed)="panelOpenState = false"
                  >
                    <mat-expansion-panel-header>
                      <mat-panel-title> DPO Sprint 6      <span> (10 Tasks) </span></mat-panel-title>
                    </mat-expansion-panel-header>
                    <div class="project-item">
                      <div class="card-layout">
                        <div class="project-status">
                          <div class="project-sts-wrp">
                            <div class="project-icon">
                              <img src="./assets/images/sutecase.svg" alt="" />
                            </div>
                            <div class="project-description">
                              <h4>Dev pro 01</h4>
                              <p>Team-managed software</p>
                            </div>
                          </div>

                          <div class="project-status-tag">
                            <a class="status-tag">Assign Task</a>
                          </div>
                        </div>

                        <p class="sts-p">
                          Cras non nisl vel mi elementum convallis at non est.
                          Fusce et placerat tortor.
                        </p>

                        <div class="project-members">
                          <div class="member-group">
                            <ul>
                              <li>
                                <button>
                                  <img
                                    src="assets/images/homeAvatar1.png"
                                    alt=""
                                  />
                                </button>
                              </li>
                              <li>
                                <button>
                                  <img
                                    src="assets/images/homeAvatar2.png"
                                    alt=""
                                  />
                                </button>
                              </li>
                              <li><button>+5</button></li>
                            </ul>

                            <button>
                              <img src="assets/images/plusIcon.svg" alt="" />
                            </button>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="project-item">
                      <div class="card-layout">
                        <div class="project-status">
                          <div class="project-sts-wrp">
                            <div class="project-icon">
                              <img src="./assets/images/sutecase.svg" alt="" />
                            </div>
                            <div class="project-description">
                              <h4>Dev pro 01</h4>
                              <p>Team-managed software</p>
                            </div>
                          </div>

                          <div class="project-status-tag">
                            <a class="status-tag">Assign Task</a>
                          </div>
                        </div>

                        <p class="sts-p">
                          Cras non nisl vel mi elementum convallis at non est.
                          Fusce et placerat tortor.
                        </p>

                        <div class="project-members">
                          <div class="member-group">
                            <ul>
                              <li>
                                <button>
                                  <img
                                    src="assets/images/homeAvatar1.png"
                                    alt=""
                                  />
                                </button>
                              </li>
                              <li>
                                <button>
                                  <img
                                    src="assets/images/homeAvatar2.png"
                                    alt=""
                                  />
                                </button>
                              </li>
                              <li><button>+5</button></li>
                            </ul>

                            <button>
                              <img src="assets/images/plusIcon.svg" alt="" />
                            </button>
                          </div>
                        </div>
                      </div>
                    </div>
                  </mat-expansion-panel>
                </mat-accordion>
                <mat-accordion>
                  <mat-expansion-panel
                    (opened)="panelOpenState = true"
                    (closed)="panelOpenState = false"
                  >
                    <mat-expansion-panel-header>
                      <mat-panel-title> DPO Sprint 7      <span> (10 Tasks) </span></mat-panel-title>
                    </mat-expansion-panel-header>
                    <div class="project-item">
                      <div class="card-layout">
                        <div class="project-status">
                          <div class="project-sts-wrp">
                            <div class="project-icon">
                              <img src="./assets/images/sutecase.svg" alt="" />
                            </div>
                            <div class="project-description">
                              <h4>Dev pro 01</h4>
                              <p>Team-managed software</p>
                            </div>
                          </div>

                          <div class="project-status-tag">
                            <a class="status-tag">Assign Task</a>
                          </div>
                        </div>

                        <p class="sts-p">
                          Cras non nisl vel mi elementum convallis at non est.
                          Fusce et placerat tortor.
                        </p>

                        <div class="project-members">
                          <div class="member-group">
                            <ul>
                              <li>
                                <button>
                                  <img
                                    src="assets/images/homeAvatar1.png"
                                    alt=""
                                  />
                                </button>
                              </li>
                              <li>
                                <button>
                                  <img
                                    src="assets/images/homeAvatar2.png"
                                    alt=""
                                  />
                                </button>
                              </li>
                              <li><button>+5</button></li>
                            </ul>

                            <button>
                              <img src="assets/images/plusIcon.svg" alt="" />
                            </button>
                          </div>
                        </div>
                      </div>
                    </div>
                
                  </mat-expansion-panel>
                </mat-accordion>
              </div>
            </div>
          </div>
          <div class="col-md-1 col-xs-12 cus-col">
            <div class="plus">
              <button>
                <img src="./assets/images/plus3.svg" alt="">
              </button>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</main>
