<div class="menu-card-wrapper">
  <div class="container">
    <div class="card-layout menu-holder">
      <div class="card-layout">
        <a routerLink="/resource-pull" class="yellow-tag p-20">
          <div class="icon-box">
            <img src="./assets/images/resource.svg" alt="" />
          </div>
          <div class="description-box" >
            <h4>Resource pull</h4>
            <p>Nulla ligula augue libero.</p>
          </div>
        </a>
      </div>
      <div class="card-layout">
        <a routerLink="/" class="green-tag p-20">
          <div class="icon-box">
            <img src="./assets/images/project-summery.svg" alt="" />
          </div>
          <div class="description-box">
            <h4>Project Summary</h4>
            <p>Nulla ligula augue libero.</p>
          </div>
        </a>
      </div>
      <div class="card-layout">
        <a routerLink="/" class="purple-tag p-20">
          <div class="icon-box">
            <img src="./assets/images/role-manage.svg" alt="" />
          </div>
          <div class="description-box">
            <h4>Role Management</h4>
            <p>Nulla ligula augue libero.</p>
          </div>
        </a>
      </div>
      <div class="card-layout">
        <a routerLink="/task-board" class="orange-tag p-20">
          <div class="icon-box">
            <img src="./assets/images/task-board.svg" alt="" />
          </div>
          <div class="description-box">
            <h4>Task Board</h4>
            <p>Nulla ligula augue libero.</p>
          </div>
        </a>
      </div>
    </div>
  </div>
</div>
