<main class="home-main-wrapper">
  <app-menu-card></app-menu-card>
  <div class="container">
    <a routerLink="/" class="timesheet-management">Time sheet Management</a>
  </div>
  <section class="common-gap recent-project-wrapper">
    <div class="container">
      <div class="title-holder">
        <h3>Recent projects</h3>
        <div class="btn-holder">
          <a routerLink="/" class="text-uppercase btn-link">View all projects</a>
          <button type="button" class="btn" (click)="addprojectModal()">Add new project</button>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="project-items">
        <div class="project-item">
          <div class="card-layout p-10">
            <div class="project-status">
              <div class="project-icon">
                <img src="./assets/images/sutecase.svg" alt="" />
              </div>
              <div class="project-status-tag">
                <div class="project-flag green">
                  <i class="fa-solid fa-flag"></i>
                </div>
                <div class="status-tag">Ongoing</div>
              </div>
            </div>

            <div class="project-description">
              <h4>Dev pro 01</h4>
              <p>Team-managed software</p>

              <div class="project-progressbar">
                <p>Project Status <span>55%</span></p>
                <mat-progress-bar mode="determinate" value="40"></mat-progress-bar>
              </div>

              <div class="project-timing">
                <p>Total Hours <span>45 hrs</span></p>
                <p>Pending Hours <span>24 hrs</span></p>
              </div>
            </div>

            <div class="project-members">
              <div class="member-group">
                <ul>
                  <li><button><img src="assets/images/homeAvatar1.png" alt=""></button></li>
                  <li><button><img src="assets/images/homeAvatar2.png" alt=""></button></li>
                  <li><button>+5</button></li>
                </ul>

                <button><img src="assets/images/plusIcon.svg" alt=""></button>
              </div>

              <div class="member-attach">
                <ul>
                  <li>
                    <img src="assets/images/attachFileIcon.svg" alt="">
                    <span>2</span>
                  </li>
                  <li>
                    <img src="assets/images/messageIcon.svg" alt="">
                    <span>3</span>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>

        <div class="project-item">
          <div class="card-layout p-10">
            <div class="project-status">
              <div class="project-icon">
                <img src="./assets/images/sutecase.svg" alt="" />
              </div>
              <div class="project-status-tag">
                <div class="project-flag green">
                  <i class="fa-solid fa-flag"></i>
                </div>
                <div class="status-tag">Ongoing</div>
              </div>
            </div>

            <div class="project-description">
              <h4>Dev pro 01</h4>
              <p>Team-managed software</p>

              <div class="project-progressbar">
                <p>Project Status <span>55%</span></p>
                <mat-progress-bar mode="determinate" value="40"></mat-progress-bar>
              </div>

              <div class="project-timing">
                <p>Total Hours <span>45 hrs</span></p>
                <p>Pending Hours <span>24 hrs</span></p>
              </div>
            </div>

            <div class="project-members">
              <div class="member-group">
                <ul>
                  <li><button><img src="assets/images/homeAvatar1.png" alt=""></button></li>
                  <li><button><img src="assets/images/homeAvatar2.png" alt=""></button></li>
                  <li><button>+5</button></li>
                </ul>

                <button><img src="assets/images/plusIcon.svg" alt=""></button>
              </div>

              <div class="member-attach">
                <ul>
                  <li>
                    <img src="assets/images/attachFileIcon.svg" alt="">
                    <span>2</span>
                  </li>
                  <li>
                    <img src="assets/images/messageIcon.svg" alt="">
                    <span>3</span>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>

        <div class="project-item">
          <div class="card-layout p-10">
            <div class="project-status">
              <div class="project-icon">
                <img src="./assets/images/sutecase.svg" alt="" />
              </div>
              <div class="project-status-tag">
                <div class="project-flag red">
                  <i class="fa-solid fa-flag"></i>
                </div>
                <div class="status-tag">Ongoing</div>
              </div>
            </div>

            <div class="project-description">
              <h4>Dev pro 01</h4>
              <p>Team-managed software</p>

              <div class="project-progressbar">
                <p>Project Status <span>55%</span></p>
                <mat-progress-bar mode="determinate" value="40"></mat-progress-bar>
              </div>

              <div class="project-timing">
                <p>Total Hours <span>45 hrs</span></p>
                <p>Pending Hours <span>24 hrs</span></p>
              </div>
            </div>

            <div class="project-members">
              <div class="member-group">
                <ul>
                  <li><button><img src="assets/images/homeAvatar1.png" alt=""></button></li>
                  <li><button><img src="assets/images/homeAvatar2.png" alt=""></button></li>
                  <li><button>+5</button></li>
                </ul>

                <button><img src="assets/images/plusIcon.svg" alt=""></button>
              </div>

              <div class="member-attach">
                <ul>
                  <li>
                    <img src="assets/images/attachFileIcon.svg" alt="">
                    <span>2</span>
                  </li>
                  <li>
                    <img src="assets/images/messageIcon.svg" alt="">
                    <span>3</span>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>

        <div class="project-item">
          <div class="card-layout p-10">
            <div class="project-status">
              <div class="project-icon">
                <img src="./assets/images/sutecase.svg" alt="" />
              </div>
              <div class="project-status-tag">
                <div class="project-flag green">
                  <i class="fa-solid fa-flag"></i>
                </div>
                <div class="status-tag">Ongoing</div>
              </div>
            </div>

            <div class="project-description">
              <h4>Dev pro 01</h4>
              <p>Team-managed software</p>

              <div class="project-progressbar">
                <p>Project Status <span>55%</span></p>
                <mat-progress-bar mode="determinate" value="40"></mat-progress-bar>
              </div>

              <div class="project-timing">
                <p>Total Hours <span>45 hrs</span></p>
                <p>Pending Hours <span>24 hrs</span></p>
              </div>
            </div>

            <div class="project-members">
              <div class="member-group">
                <ul>
                  <li><button><img src="assets/images/homeAvatar1.png" alt=""></button></li>
                  <li><button><img src="assets/images/homeAvatar2.png" alt=""></button></li>
                  <li><button>+5</button></li>
                </ul>

                <button><img src="assets/images/plusIcon.svg" alt=""></button>
              </div>

              <div class="member-attach">
                <ul>
                  <li>
                    <img src="assets/images/attachFileIcon.svg" alt="">
                    <span>2</span>
                  </li>
                  <li>
                    <img src="assets/images/messageIcon.svg" alt="">
                    <span>3</span>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>

        <div class="project-item">
          <div class="card-layout p-10">
            <div class="project-status">
              <div class="project-icon">
                <img src="./assets/images/sutecase.svg" alt="" />
              </div>
              <div class="project-status-tag">
                <div class="project-flag yellow">
                  <i class="fa-solid fa-flag"></i>
                </div>
                <div class="status-tag">Ongoing</div>
              </div>
            </div>

            <div class="project-description">
              <h4>Dev pro 01</h4>
              <p>Team-managed software</p>

              <div class="project-progressbar">
                <p>Project Status <span>55%</span></p>
                <mat-progress-bar mode="determinate" value="40"></mat-progress-bar>
              </div>

              <div class="project-timing">
                <p>Total Hours <span>45 hrs</span></p>
                <p>Pending Hours <span>24 hrs</span></p>
              </div>
            </div>

            <div class="project-members">
              <div class="member-group">
                <ul>
                  <li><button><img src="assets/images/homeAvatar1.png" alt=""></button></li>
                  <li><button><img src="assets/images/homeAvatar2.png" alt=""></button></li>
                  <li><button>+5</button></li>
                </ul>

                <button><img src="assets/images/plusIcon.svg" alt=""></button>
              </div>

              <div class="member-attach">
                <ul>
                  <li>
                    <img src="assets/images/attachFileIcon.svg" alt="">
                    <span>2</span>
                  </li>
                  <li>
                    <img src="assets/images/messageIcon.svg" alt="">
                    <span>3</span>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>

        <div class="project-item">
          <div class="card-layout p-10">
            <div class="project-status">
              <div class="project-icon">
                <img src="./assets/images/sutecase.svg" alt="" />
              </div>
              <div class="project-status-tag">
                <div class="project-flag yellow">
                  <i class="fa-solid fa-flag"></i>
                </div>
                <div class="status-tag">Ongoing</div>
              </div>
            </div>

            <div class="project-description">
              <h4>Dev pro 01</h4>
              <p>Team-managed software</p>

              <div class="project-progressbar">
                <p>Project Status <span>55%</span></p>
                <mat-progress-bar mode="determinate" value="40"></mat-progress-bar>
              </div>

              <div class="project-timing">
                <p>Total Hours <span>45 hrs</span></p>
                <p>Pending Hours <span>24 hrs</span></p>
              </div>
            </div>

            <div class="project-members">
              <div class="member-group">
                <ul>
                  <li><button><img src="assets/images/homeAvatar1.png" alt=""></button></li>
                  <li><button><img src="assets/images/homeAvatar2.png" alt=""></button></li>
                  <li><button>+5</button></li>
                </ul>

                <button><img src="assets/images/plusIcon.svg" alt=""></button>
              </div>

              <div class="member-attach">
                <ul>
                  <li>
                    <img src="assets/images/attachFileIcon.svg" alt="">
                    <span>2</span>
                  </li>
                  <li>
                    <img src="assets/images/messageIcon.svg" alt="">
                    <span>3</span>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>

        <div class="project-item">
          <div class="card-layout p-10">
            <div class="project-status">
              <div class="project-icon">
                <img src="./assets/images/sutecase.svg" alt="" />
              </div>
              <div class="project-status-tag">
                <div class="project-flag green">
                  <i class="fa-solid fa-flag"></i>
                </div>
                <div class="status-tag">Ongoing</div>
              </div>
            </div>

            <div class="project-description">
              <h4>Dev pro 01</h4>
              <p>Team-managed software</p>

              <div class="project-progressbar">
                <p>Project Status <span>55%</span></p>
                <mat-progress-bar mode="determinate" value="40"></mat-progress-bar>
              </div>

              <div class="project-timing">
                <p>Total Hours <span>45 hrs</span></p>
                <p>Pending Hours <span>24 hrs</span></p>
              </div>
            </div>

            <div class="project-members">
              <div class="member-group">
                <ul>
                  <li><button><img src="assets/images/homeAvatar1.png" alt=""></button></li>
                  <li><button><img src="assets/images/homeAvatar2.png" alt=""></button></li>
                  <li><button>+5</button></li>
                </ul>

                <button><img src="assets/images/plusIcon.svg" alt=""></button>
              </div>

              <div class="member-attach">
                <ul>
                  <li>
                    <img src="assets/images/attachFileIcon.svg" alt="">
                    <span>2</span>
                  </li>
                  <li>
                    <img src="assets/images/messageIcon.svg" alt="">
                    <span>3</span>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>

        <div class="project-item">
          <div class="card-layout p-10">
            <div class="project-status">
              <div class="project-icon">
                <img src="./assets/images/sutecase.svg" alt="" />
              </div>
              <div class="project-status-tag">
                <div class="project-flag red">
                  <i class="fa-solid fa-flag"></i>
                </div>
                <div class="status-tag">Ongoing</div>
              </div>
            </div>

            <div class="project-description">
              <h4>Dev pro 01</h4>
              <p>Team-managed software</p>

              <div class="project-progressbar">
                <p>Project Status <span>55%</span></p>
                <mat-progress-bar mode="determinate" value="40"></mat-progress-bar>
              </div>

              <div class="project-timing">
                <p>Total Hours <span>45 hrs</span></p>
                <p>Pending Hours <span>24 hrs</span></p>
              </div>
            </div>

            <div class="project-members">
              <div class="member-group">
                <ul>
                  <li><button><img src="assets/images/homeAvatar1.png" alt=""></button></li>
                  <li><button><img src="assets/images/homeAvatar2.png" alt=""></button></li>
                  <li><button>+5</button></li>
                </ul>

                <button><img src="assets/images/plusIcon.svg" alt=""></button>
              </div>

              <div class="member-attach">
                <ul>
                  <li>
                    <img src="assets/images/attachFileIcon.svg" alt="">
                    <span>2</span>
                  </li>
                  <li>
                    <img src="assets/images/messageIcon.svg" alt="">
                    <span>3</span>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <div class="container"><mat-divider></mat-divider></div>

  <section class="common-gap leave-listing-wrapper">
    <div class="container">
      <div class="row">
        <div class="col-lg-6">
          <div class="leave-listing">
            <h3>Today Leave</h3>
            <div class="leave-listing-table">
              <ng-scrollbar>
                <table class="table">
                  <tbody>
                    <tr>
                      <td>
                        <div class="leave-profile">
                          <img src="/assets/images/leaveProfileImg.png" alt="">
                          <p>Angela Smith</p>
                        </div>
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <div class="leave-profile">
                          <img src="/assets/images/leaveProfileImg1.png" alt="">
                          <p>Angela Smith</p>
                        </div>
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <div class="leave-profile">
                          <img src="/assets/images/leaveProfileImg2.png" alt="">
                          <p>Angela Smith</p>
                        </div>
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <div class="leave-profile">
                          <img src="/assets/images/leaveProfileImg1.png" alt="">
                          <p>Angela Smith</p>
                        </div>
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <div class="leave-profile">
                          <img src="/assets/images/leaveProfileImg.png" alt="">
                          <p>Angela Smith</p>
                        </div>
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <div class="leave-profile">
                          <img src="/assets/images/leaveProfileImg.png" alt="">
                          <p>Angela Smith</p>
                        </div>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </ng-scrollbar>
            </div>
          </div>
        </div>

        <div class="col-lg-6">
          <div class="leave-listing">
            <h3>Upcoming Leave</h3>
            <div class="leave-listing-table">
              <ng-scrollbar>
                <table class="table">
                  <tbody>
                    <tr>
                      <td>
                        <div class="leave-profile">
                          <img src="/assets/images/leaveProfileImg.png" alt="">
                          <p>Angela Smith</p>
                        </div>
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <div class="leave-profile">
                          <img src="/assets/images/leaveProfileImg1.png" alt="">
                          <p>Angela Smith</p>
                        </div>
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <div class="leave-profile">
                          <img src="/assets/images/leaveProfileImg2.png" alt="">
                          <p>Angela Smith</p>
                        </div>
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <div class="leave-profile">
                          <img src="/assets/images/leaveProfileImg1.png" alt="">
                          <p>Angela Smith</p>
                        </div>
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <div class="leave-profile">
                          <img src="/assets/images/leaveProfileImg.png" alt="">
                          <p>Angela Smith</p>
                        </div>
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <div class="leave-profile">
                          <img src="/assets/images/leaveProfileImg.png" alt="">
                          <p>Angela Smith</p>
                        </div>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </ng-scrollbar>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>