// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use "@angular/material"as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$jira-primary: mat.define-palette(mat.$indigo-palette);
$jira-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$jira-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$jira-theme: mat.define-light-theme((color: (primary: $jira-primary,
      accent: $jira-accent,
      warn: $jira-warn,
    ),
  ));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($jira-theme);

/* You can add global styles to this file, and also import other style files */

// Grid scss
@import "./assets/scss/grid.scss";
@import "./assets/scss/config";

.card-layout {
  @include card();
}

.project-items {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -11px;

  .project-item {
    padding: 11px;
    flex: 0 0 auto;
    width: 20%;

    @media (max-width: 1199px) {
      width: 25%;
    }

    @media (max-width: 991px) {
      width: 33.33%;
    }

    @media (max-width: 767px) {
      width: 50%;
    }

    @media (max-width: 479px) {
      width: 100%;
    }

    .card-layout {
      .project-status {
        display: flex;
        align-items: center;
        justify-content: space-between;

        .project-icon {
          background-color: rgba($color: $primaryColor, $alpha: 0.2);
          display: inline-flex;
          align-items: center;
          justify-content: center;
          width: 26px;
          height: 26px;
          @include radius(100%);

          img {
            width: 14px;
            height: 14px;
          }
        }

        .project-status-tag {
          display: inline-flex;
          align-items: center;

          .project-flag {
            font-size: 1.6rem;
            margin-right: 7px;

            &.green {
              i {
                color: $greenColor;
              }
            }

            &.red {
              i {
                color: #FF2A00;
              }
            }

            &.yellow {
              i {
                color: #F5CF00;
              }
            }
          }

          .status-tag {
            min-height: 20px;
            @include radius(16px);
            @include blue_tag();
            font-weight: 600;
            padding: 5px 10px;
            font-size: 1.2rem;
          }
        }
      }

      .project-description {
        h4 {
          font-weight: 500;
          font-size: 12px;
          text-transform: capitalize;
          color: #092C38;
          margin: 0;
        }

        p {
          font-weight: 400;
          font-size: 11px;
          color: #383F49;
          margin: 0;
        }

        .project-progressbar {
          margin-bottom: 8px;

          .mat-progress-bar-buffer {
            background: #E6EEFF;
            border-radius: 50px;
            height: 3px !important;
          }

          .mat-progress-bar-fill::after {
            background: #76CC8E;
            border-radius: 50px;
          }

          p {
            font-size: 10px;
            text-transform: capitalize;
            color: #383F49;
            font-weight: 500;
            display: flex;
            align-items: center;
            justify-content: space-between;

            span {
              font-weight: 600;
              font-size: 9px;
              color: #383F49;
            }
          }
        }

        .project-timing {
          p {
            font-weight: 500;
            font-size: 10px;
            color: #383F49;
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-bottom: 4px;

            span {
              background: #FFFFFF;
              border: 1px solid #EBEEF2;
              border-radius: 16px;
              font-weight: 600;
              font-size: 9px;
              padding: 2px 12px;
              color: #606C80;
            }
          }
        }
      }
    }
  }
}

.project-members {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 10px;
}

.member-group {
  display: flex;
  align-items: center;

  ul {
    display: flex;
    align-items: center;
    margin: 0;
    margin-left: 10px;

    li {
      margin-left: -10px;
      border: 2px solid #FFFFFF;
      border-radius: 50%;

      button {
        background: #F2F4F7;
        padding: 0;
        border-radius: 50%;
        width: 21px;
        height: 21px;
        display: flex;
        align-items: center;
        justify-content: center;
        color: #606C80;
        font-weight: 800;
        font-size: 10px;
        margin: 0;

        img {
          width: 100%;
          height: 100%;
          border-radius: 50%;
        }
      }
    }
  }

  button {
    margin-left: 8px;
    border: 0.5px dashed #EBEEF2;
    background: #FFFFFF;
    width: 21px;
    height: 21px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;

    &:hover {
      opacity: 0.6;
    }

    img {
      width: 13px;
      height: 13px;
    }
  }
}

.member-attach {
  ul {
    display: flex;
    align-items: center;
    margin: 0;

    li {
      margin-right: 8px;
      display: flex;
      align-items: center;

      &:last-child {
        margin: 0;

        span {
          color: #D97706;
        }
      }

      img {
        margin-right: 8px;
      }

      span {
        font-weight: 600;
        font-size: 10px;
        color: #9333EA;
      }
    }
  }
}

.mat-divider {
  border-top-color: rgba(0, 0, 0, 0.05);
}

// ===rounak======
.haeder2 {
  background: #ffffff;
  box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.05);
  padding: 32px 0;
  position: fixed;
  top: 0;
  z-index: 99;
  width: 100%;
}

.login-outr {
  background: #ffffff;
  box-shadow: 0px 4px 11px rgba(0, 0, 0, 0.08);
  border-radius: 10px;
  max-width: 480px;
  margin: 0 auto;
  position: relative;
  z-index: 1;
  padding: 25px 40px;
}

.login-wrapper {
  // padding-top: 85px;
  position: relative;
}

.login-sec {
  height: 100vh;
  // display: flex;
  align-items: center;
  justify-content: center;
  background-color: #e6f9ff;
  padding-top: 84px;
  overflow: hidden;
  position: relative;


}

.login-cont {
  height: 100%;
  overflow-y: auto;
  position: relative;
  z-index: 1;
}

.login-area {
  height: calc(100vh - 84px);
  overflow: auto;
  display: table;
  align-items: center;
  width: 100%;
  justify-content: center;
  vertical-align: middle;
  text-align: center;
}

.login-area-pro {
  display: table-cell;
  vertical-align: middle;
  height: calc(100vh - 84px);
  padding: 50px 0;

}

.submit-inn {
  button {
    background: #00baff;
    border-radius: 7px;
    font-weight: 500;
    font-size: 18px;
    color: #ffffff;
    width: 100%;
    height: 54px;
    text-align: center;
    align-items: center;
    justify-content: center;

    &:hover {
      background: black;
    }
  }
}

.form-group {
  margin-bottom: 20px;

  input {
    border: 1px solid rgba(91, 109, 116, 0.2);
    height: 54px;
    padding: 0 20px;
    color: black;
    font-size: 15px;
  }

  label {
    font-weight: 500;
    font-size: 15px;
    margin-bottom: 6px;
    display: inline-block;

    text-transform: capitalize;

    color: #5b6d74;
  }
}

.login-hdr {
  text-align: center;
  margin-bottom: 40px;

  h2 {
    font-weight: 600;
    font-size: 36px;
    color: #092c38;
    margin-bottom: 10px;
  }

  p {
    font-weight: 500;
    font-size: 17px;

    text-transform: capitalize;

    color: #5b6d74;
  }
}

.login-form {
  margin-bottom: 30px;
}

.form-btm {
  border-top: 1px solid rgba(91, 109, 116, 0.5);
  padding-top: 23px;

  p {
    font-size: 13px;
    text-align: center;

    a {
      color: #03bbff;
      font-weight: 600;

      &:hover {
        color: black;
      }
    }
  }
}

.pc1 {
  position: absolute;
  top: 8%;
  left: 0;
  width: 20%;
}

.pc2 {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 28%;
}
