.tab-slider--nav {
  border: 2px solid #edeff2;
  border-radius: 20px;
  padding: 15px;

  li {
    background: #ffffff;
    box-shadow: 0px 2px 5px rgba(38, 51, 77, 0.03);
    border-radius: 10px;
    display: flex;
    align-items: center;
    width: 100%;
    height: 60px;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    color: #7d8fb3;
    padding: 15px;
    margin-bottom: 15px;
    cursor: pointer;

    figure {
      width: 30px;
      height: 30px;
      display: flex;
      align-items: center;
      margin-right: 30px;
      justify-content: center;
    }

    &.active {
      background: #00baff;
      color: #fff;

      img {
        filter: brightness(0) invert(1);
      }
    }
  }
}

.projectsectiontop {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
  align-items: center;
  padding-bottom: 24px;

  .leftsection {
    h2 {
      font-size: 24px;
      color: #000000;
      margin-bottom: 0px;
    }

    h3 {
      font-size: 12px;
      line-height: 1.2;
      text-transform: capitalize;
      color: #5b6d74;
      margin-bottom: 0px;
    }
  }

  .right-section {
    span {
      font-size: 14px;
      line-height: 21px;
      color: #5b6d74;
      display: inline-block;
      padding: 0 15px;
    }
  }
}

.tab-slider--body {
  padding-left: 39px;
}

.projectsectionmid {
  .projectprogress {
    padding: 28px;

    .projectprogresstop {
      h2 {
        font-weight: 500;
        font-size: 16px;
        letter-spacing: 0.3px;
        color: #121212;
        margin-bottom: 0px;
      }

      p {
        font-weight: 400;
        font-size: 12px;
        line-height: 12px;
        letter-spacing: 0.3px;
        color: #41475e;
      }
    }
  }
}

.search_bar_box_bar {
  .search_bar_box_sec {
    display: flex;
    align-items: center;

    .search_bar_box {
      position: relative;
      max-width: 186px;
      width: 100%;

      button {
        position: absolute;
        left: 10px;
        top: 6px;
        background: transparent;
        padding: 0;

        mat-icon {
          color: #c7ced9;
        }
      }

      input {
        background: #ffffff;
        border: 1px solid #ebeef2;
        box-shadow: 0px 1px 3px rgba(96, 108, 128, 0.05);
        border-radius: 8px;
        padding: 0 0 0 40px;
        height: 36px;
        min-height: auto;
        line-height: 1.5;
        font-weight: 500;
        font-size: 12px;
        line-height: 20px;
        color: #98a2b3;

        &::placeholder {
          color: #98a2b3;
        }
      }
    }

    .people_list {
      display: flex;
      align-items: center;
      margin: 0 0 0 20px;
      max-width: 150px;
      width: 100%;

      ul {
        display: flex;
        position: relative;
        margin: 0;

        li {
          margin: 0 -5px;
          display: flex;

          &:last-child {
            background: #ffffff;
            border: 1px dashed #ebeef2;
            border-radius: 48px;
            position: absolute;
            right: -43px;
            top: 0px;
            padding: 7px;
          }
        }
      }
    }

    .select_bar {
      display: flex;

      select {
        height: 36px;
        line-height: 1.5;
        min-height: 36px;
        border-radius: 8px;
        border: none;
        font-weight: 500;
        font-size: 12px;
        line-height: 26px;
        text-transform: capitalize;
        color: #5b6d74;
        padding: 5px 20px 5px 15px;
        max-width: 200px;
        width: 100%;
        background-size: 9px;
        margin: 0 20px 0 0;

        &:first-child {
          background-color: rgba(86, 164, 200, 0.1);
        }
      }
    }
  }
}

.right_select_bar {
  display: flex;
  align-items: center;
  justify-content: flex-end;

  p {
    margin: 0 10px 0 0;
  }

  select {
    height: 36px;
    line-height: 1.5;
    min-height: 36px;
    border-radius: 8px;
    border: none;
    font-weight: 500;
    font-size: 12px;
    line-height: 26px;
    text-transform: capitalize;
    color: #5b6d74;
    padding: 5px 30px 5px 15px;
    background-size: 9px;
    margin: 0 20px 0 0;
    background-color: rgba(86, 164, 200, 0.1);
  }

  button {
    font-weight: 500;
    font-size: 12px;
    line-height: 26px;
    text-transform: capitalize;
    color: #5b6d74;
    background-color: rgba(86, 164, 200, 0.1);
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px 10px;

    img {
      margin: 0 5px 0 0;
    }
  }
}

.project_topic_bar_sec {
  background: #ffffff;
  border-radius: 6px;
  margin: 30px 0;
  padding: 20px;

  .project_topic_bar {
    display: flex;
    align-items: center;
    margin: 0 10px 0 0;
    margin: 0 0 20px 0;

    .left_box {
      img {
        margin: 0 15px 0px 0;
      }
    }

    .right_box {
      h2 {
        font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        text-transform: capitalize;
        color: #092c38;
        margin: 0;
      }

      h3 {
        font-weight: 400;
        font-size: 13px;
        line-height: 1.5;
        text-transform: capitalize;
        color: #383f49;
        margin: 0;
      }
    }
  }

  .project_cont {
    h3 {
      margin: 0 0 5px 0;
    }
  }

  .button_bar {
    .add_btn {
      background: #00baff;
      box-shadow: 0px 8px 20px rgba(0, 186, 255, 0.11);
      border-radius: 7px;
      font-weight: 500;
      font-size: 13px;
      line-height: 20px;
      text-align: center;
      text-transform: capitalize;
      color: #ffffff;
      padding: 10px 20px;
      border: 1px solid #00baff;
      &:hover {
        border: 1px solid #00baff;
        color: #00baff;
        background: transparent;
      }
    }
  }
}

.backlog-hdr-rgt {
  display: flex;
  align-items: center;
  margin-left: auto;
  span {
    background: #d4d8dd;
    border-radius: 16px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 19px;
    width: 29px;
    margin: 0 2px;
    font-weight: 600;
    font-size: 10px;
    &.green {
      color: white;
      background: #00714b;
    }
    &.blue {
      color: white;
      background: #003fb1;
    }
  }
  .btn {
    min-height: 30px;
    min-width: 90px;
    margin-left: 8px;
  }
  .dots {
    margin-left: 6px;
    button {
      min-height: 30px;
      min-width: 30px;
      background: #e6e6e6;
      box-shadow: 0px 8px 20px rgba(0, 186, 255, 0.11);
      border-radius: 4px;
      display: inline-flex;
      align-items: center;
      justify-content: center;
    }
  }
}
.backlog-btm {
  ::ng-deep {
    .mat-expansion-panel-header {
      flex-direction: row-reverse;
      height: auto;
      padding: 10px 0px;
    }
    .mat-expansion-panel
      .mat-expansion-panel-header.cdk-keyboard-focused:not(
        [aria-disabled="true"]
      ),
    .mat-expansion-panel
      .mat-expansion-panel-header.cdk-program-focused:not(
        [aria-disabled="true"]
      ),
    .mat-expansion-panel:not(.mat-expanded)
      .mat-expansion-panel-header:hover:not([aria-disabled="true"]) {
      background: transparent;
    }
    .mat-expansion-indicator::after {
      margin-bottom: 5px;
    }

    .mat-expansion-panel {
      box-shadow: none;
      background: #f7f9fb;
      border-radius: 6px !important;
      margin-bottom: 30px;
      padding: 10px;
    }
    .mat-expansion-panel-body {
      padding: 0;
    }
    .mat-expansion-panel-content {
      font-family: "Poppins", sans-serif !important;
    }
    .mat-expansion-panel-header-title {
      font-weight: 600;
      font-size: 12px;
      line-height: 1;
      margin-left: 5px;

      text-transform: capitalize;

      color: #5b6d74;

      p {
        margin-bottom: 0;
        font-weight: 600;
        font-size: 12px;
        line-height: 1;
        margin-left: 10px;

        text-transform: capitalize;

        color: #5b6d74;
        span {
          font-weight: 500;
          font-size: 10px;
          display: inline-block;

          text-transform: capitalize;
          margin-left: 5px;
          color: #5b6d74;
        }
      }
    }
  }
}
.backlog-lft {
  display: flex;
  align-items: center;
  span {
    width: 25px;
    height: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .para1 {
    font-weight: 400;
    font-size: 11px;
    line-height: 1;
    margin: 0 10px;

    text-transform: capitalize;

    color: #383f49;
  }
  .para2 {
    font-weight: 500;
    font-size: 11px;
    line-height: 1;
    margin: 0;

    text-transform: capitalize;

    color: #092c38;
  }
  .data {
    margin: 0;
    font-weight: 700;
    font-size: 9px;
    line-height: 1;
    background: rgba(240, 246, 250, 1);
    border-radius: 2px;
    padding: 3px 5px;
    text-transform: capitalize;
    margin-left: 12px;

    color: #5b6d74;
  }
}
.backlog-list {
  margin: 0;
  li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 7px 13px;
    &:nth-child(odd) {
      background-color: #ffffff;
    }
    &:first-child {
      border-top-left-radius: 6px;
      border-top-right-radius: 6px;
    }
    &:last-child {
      border-bottom-left-radius: 6px;
      border-bottom-right-radius: 6px;
    }
  }
}
.backlog-rgt {
  display: flex;
  align-items: center;
  .back-slect {
    font-weight: 700;
    font-size: 10px;
    line-height: 1;
    border: 0;
    text-transform: capitalize;
    background-color: rgba(225, 238, 245, 1);
    min-height: 20px;
    font-family: "Poppins", sans-serif !important;
    border-radius: 2px;
    color: #5b6d74;
    padding-right: 18px;
  }
  .user {
    width: 20px;
    height: 20px;
    margin-left: 10px;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 100%;
    }
  }
}
.issue {
  font-weight: 700;
  font-size: 12px;
  line-height: 1.1;
  margin-top: 15px;
  align-items: center;
  background-color: transparent;
  color: #4d5e80;
  span {
    margin-right: 5px;
    display: inline-block;
    align-items: center;
  }
  &:hover{
    color: black;
  }
}
.dpo-backlog {
  padding: 17px 14px;
  background: white;
  margin-top: 20px;
}
.hrs {
  background: #00b661;
  border-radius: 2px;
  font-weight: 700;
  font-size: 9px;
  line-height: 1;
  margin: 0 10px;
  padding: 4px 4px;
  text-transform: capitalize;

  color: #ffffff;
  &.red {
    background: #ff2a00;
  }
  &.yellow {
    background: #fee45a;
    color: #5b6d74;
  }
}

.backlog-input {
  width: 100%;
  .back-form {
    margin-top: 8px;
    textarea {
      background: rgba(255, 255, 255, 0.542);
      font-family: "Poppins", sans-serif !important;
      border: 1px dashed #00baff;
      padding: 10px 15px;
      min-height: 75px;
      line-height: 1;
    }
  }
  .arow {
    margin: 0 12px;
    display: inline-block;
  }
  .para3 {
    margin-bottom: 0;
    font-weight: 500;
    font-size: 11px;
    color: rgba(153, 168, 174, 1);
    display: inline-block;
  }
}
